{% extends "admin/base.html" %}

{% load static %}

{% block title %}Agregar un profesional{% endblock %}

{% block head %}
    <script>
        $(function (){
            
            var form = $("#addForm");
            
            form.submit(function (ev){
                
                ev.preventDefault();
                
                form.children("button[type=submit]").button('loading');
                
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response){
                        
                        form.children("button[type=submit]").button('reset');
                        
                        $(".form-group").attr('class', "form-group");
                        
                        if(response.error){
                            
                            if(response.campo){
                                
                                if(response.campo == "cuil")
                                    response.campo = "documento";
                                
                                $("#"+ response.campo).parent().parent().attr('class', "form-group has-error");
                                $("#"+ response.campo).focus();
                            }
                            
                            form.children(".alert").attr('class', "alert alert-dismissable alert-danger");
                            form.children(".alert").children("p").html(response.error);
                            return;
                        }
                        
                        var modal = $("#modal-infomacion");
                        
                        $("#modal-infomacion p").html(response.mensaje);
                        
                        modal.modal("show");
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li><a href="{% url 'calendario:profesional_all' %}">Profesionales</a></li>
        <li class="active">Agregar</li>
    </ol>
    <div class="page-header text-center">
        <h1>
            Agregar profesional
        </h1>
    </div>
    <div class="modal fade" id="modal-infomacion" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="glyphicon glyphicon-info-sign"></i> Información
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'calendario:profesional_all' %}" class="btn btn-primary pull-right">
                        Aceptar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-centered">
        <form class="form-horizontal responsive" id="addForm" name="addForm" method="POST" action="{% url 'calendario:profesional_add' %}">
            <div class="alert alert-dismissable alert-danger hidden">
                <button type="button" class="close" data-hide="alert" aria-hidden="true">
                    ×
                </button>
                <h4>
                    Error al guardar el profesional.
                </h4>
                <strong>Ojo!</strong> Un campo no es válido:
                <p>
                </p>
            </div>
            {% csrf_token %}
            <div class="form-group">
                <label class="col-xs-3 control-label" for="nombre">Nombre:</label>
                <div class="col-xs-9">
                    <input type="text" id="nombre" name="nombre" class="form-control" autofocus placeholder="Nombre del profesional">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label" for="apellido">Apellido:</label>
                <div class="col-xs-9">
                    <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido del profesional">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label" for="cuil">Cuil:</label>
                <div class="col-xs-2">
                    <select id="tipo" name="tipo" class="form-control">
                        <option value="20">20</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="27">27</option>
                    </select>
                </div>
                <div class="col-xs-5">
                    <input type="text" id="documento" name="documento" class="form-control" placeholder="Número de documento">
                </div>
                <div class="col-xs-2">
                    <select id="verificador" name="verificador" class="form-control">
                        <option value="0">0</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>
            <button type="submit" id="btnGuardar" data-loading-text="Guardando..." class="btn btn-primary pull-right" autocomplete="off">
                <i class="glyphicon glyphicon-floppy-save"></i> Guardar
            </button>
        </form>
    </div>
{% endblock %}
