{% extends "admin/base.html" %}

{% block title %}Listado de profesionales{% endblock %}

{% block article %}
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-10 col-md-offset-1 column">
				<div class="page-header">
					<h1>
						Profesionales<small>.</small>
					</h1>
				</div>
				<div class="modal fade" id="modal-container-789271" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header text-center">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									×
								</button>
								<h4 class="modal-title" id="myModalLabel">
									Eliminar profesional
								</h4>
							</div>
							<div class="modal-body">
								¿Está seguro que desea eliminar a -tanto-?
							</div>
							<div class="modal-footer">
								 
								<button type="button" class="btn btn-default" data-dismiss="modal">
									No
								</button> 
								<button type="button" class="btn btn-primary">
									Eliminar
								</button>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>
								Apellido, Nombre
							</th>
							<th>
								Cuil
							</th>
							<th>
								Especialidad
							</th>
							</th>
							<th>
								Acciones
							</th>
						</tr>
					</thead>
					{% if ps %}
						<tbody>
							{% for p in ps %}
								<tr>
									<td>
										{{ p.apellido }}, {{ p.nombre }}
									</td>
									<td>
										{{ p.cuil }}
									</td>
									<td>
										{{ p.especialidad }}
									</td>
									<td>
										<div class="btn btn-group btn-block">
											<a class="btn btn-default" title="Editar profesional" href="{% url 'calendario:profesional_edit' p.id %}"><i class="glyphicon glyphicon-pencil"></i></a>
											<a id="modal-789271" href="#modal-container-789271" role="button" class="btn btn-danger" data-toggle="modal"><i class="glyphicon glyphicon-trash"></i></a>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					{% else %}
						<tfoot align="center">
							<tr>
								<td colspan="5">No hay profesionales cargados.</td>
							</tr>
						</tfoot>
					{% endif %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}
