{% extends "admin/base.html" %}

{% load static %}

{% block title %}Listado de profesionales{% endblock %}

{% block head %}
    <script>
        function quitar(profesional_id){
            
            $("#myModal").modal("show");
            
            $("#btnDel").click(function () {
                
                $.ajax({
                    url: "{% url 'calendario:profesional_delete' %}",
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        profesional_id: profesional_id
                    },
                    success: function(response) {
                        window.location.href = "{% url 'calendario:profesional_all' %}";
                    }
                });
            });
        }
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li class="active">Profesionales</li>
    </ol>
    {% if perms.auth.admin %}
        <a href="{% url 'calendario:profesional_add' %}" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i> Agregar profesional
        </a>
        <br>
        <br>
    {% endif %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle"></i> Eliminar profesional</h4>
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea eliminar este profesional?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btnDel" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr class="default">
                <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Apellido, Nombre
                </th>
                <th class="col-xs-2 col-sm-1 col-md-2 col-lg-2">
                    Cuil
                </th>
                <th class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
                    Especialidades
                </th>
                <th class="col-xs-5 col-sm-5 col-md-4 col-lg-3">
                    Acciones
                </th>
            </tr>
        </thead>
        {% if profesionales %}
            <tbody>
                {% for profesional in profesionales %}
                    <tr>
                        <td>
                            {{ profesional.apellido }}, {{ profesional.nombre }}
                        </td>
                        <td>
                            {{ profesional.cuil }}
                        </td>
                        <td>
                            <h4>
                                {% for especialidad in profesional.especialidades.all %}
                                    <span class="label label-default">{{ especialidad }}</span>
                                {% endfor %}
                            </h4>
                        </td>
                        <td>
                            <div class="btn btn-group btn-block">
                                <a class="btn btn-default" title="Restricciones" href="{% url 'calendario:profesional_detail' profesional.id %}#restricciones"><i class="glyphicon glyphicon-list-alt"></i></a>
                                <a class="btn btn-default" title="Especialidades" href="{% url 'calendario:profesional_detail' profesional.id %}#especialidades"><i class="glyphicon glyphicon-th-list"></i></a>
                                <a type="button" class="btn btn-danger" data-toggle="modal" onclick="quitar({{ profesional.id }})">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tfoot align="center">
                <tr>
                    <td colspan="5">No hay profesionales cargados.</td>
                </tr>
            </tfoot>
        {% endif %}
    </table>
    <nav>
        <ul class="pager">
            {% if profesionales.has_previous %}
                <li class="previous"><a href="{% url 'calendario:profesional_all' profesionales.previous_page_number %}"><span class="glyphicon glyphicon-arrow-left"></span> Anterior</a></li>
            {% endif %}
            
            {% if profesionales.has_next %}
                <li class="next"><a href="{% url 'calendario:profesional_all' profesionales.next_page_number %}">Siguiente <span class="glyphicon glyphicon-arrow-right"></span></a>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
