{% extends "admin/base.html" %}

{% load static %}

{% block title %}Detalles de {{ profesional }}.{% endblock %}

{% block head %}
    <script>
        $(function (){
            
            var url = document.location.toString();
            
            if(url.match('#')) {
                $('.nav-tabs a[href="#'+url.split('#')[1]+'"]').tab('show');
            }
            
            $('.nav-tabs a').on('shown.bs.tab', function (e){
                window.location.hash = e.target.hash;
                window.scrollTo(0, 0);
            });
            
            var form = $("#editForm");
            
            form.submit(function (ev){
                
                ev.preventDefault();
                
                $("#" + form.attr('id') + " button[type=submit]").button('loading');
                
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response){
                        
                        $("#" + form.attr('id') + " button[type=submit]").button('reset');
                        
                        $(".form-group").attr('class', "form-group");
                        
                        if(response.error){
                            
                            if(response.campo){
                                
                                if(response.campo == "cuil")
                                    response.campo = "documento";
                                
                                $("#"+ response.campo).parent().parent().attr('class', "form-group has-error");
                                $("#"+ response.campo).focus();
                            }
                            
                            form.children(".alert").attr('class', "alert alert-dismissable alert-danger");
                            form.children(".alert").children("p").html(response.error);
                            return;
                        }
                        
                        var modal = $("#modal-infomacion");
                        
                        $("#modal-infomacion p").html(response.mensaje);
                        
                        modal.modal("show");
                    }
                });
            });
            
            var formRestriccion = $("#addRestriccionForm");
            
            formRestriccion.submit(function (ev){
                
                ev.preventDefault();
                
                $("#" + formRestriccion.attr('id') + " button[type=submit]").button('loading');
                
                $.ajax({
                    url: formRestriccion.attr('action'),
                    type: formRestriccion.attr('method'),
                    data: formRestriccion.serialize(),
                    success: function (response){
                        
                        $("#" + formRestriccion.attr('id') + " button[type=submit]").button('reset');
                        
                        $(".form-group").attr('class', "form-group");
                        
                        if(response.error){
                            
                            if(response.campo){
                                $("#"+ response.campo).parent().attr('class', "form-group has-error");
                                $("#"+ response.campo).focus();
                            }
                            
                            formRestriccion.children(".alert").attr('class', "alert alert-dismissable alert-danger");
                            formRestriccion.children(".alert").children("p").html(response.error);
                            return;
                        }
                        
                        var modal = $("#modal-infomacion");
                        
                        $("#modal-infomacion p").html(response.mensaje);
                        
                        $("#modal-infomacion a").attr("href", "");
                        
                        modal.modal("show");
                        
                        var li = "<li id='" + response.id + "' class='list-group-item'>" +
                                        "<p>" +
                                            "El " + response.dia_semana + " de " + response.hora_desde + " a " + response.hora_hasta + "." +
                                            "<a class='btn btn-danger pull-right' data-toggle='modal' onclick='eliminarRestriccion(" + response.id + ")'>" +
                                                "<i class='glyphicon glyphicon-trash'></i>" +
                                            "</a>" +
                                        "</p>" +
                                    "</li>";
                        
                        $("#ulRestricciones").append(li);
                    }
                });
            });
        });
        
        function agregar(item){
            
            item.setAttribute('onclick', 'eliminar(this)');
            
            $(item).children("i").prop("class", "glyphicon glyphicon-chevron-left text-danger pull-right");
            
            $("#eAsignadas").append(item);
        }
        
        function eliminar(item){
            
            item.setAttribute('onclick', 'agregar(this)');
            
            $(item).children("i").prop("class", "glyphicon glyphicon-chevron-right text-success pull-right");
            
            $("#eDisponibles").append(item);
        }
        
        function guardarEspecialidades(){
            
            var eAsignadas = document.getElementById('eAsignadas');
            
            var especialidades = []
            
            for(i = 0; i < eAsignadas.children.length; i++){
                especialidades.push(eAsignadas.children[i].id);
            }
            
            $.ajax({
                url: "{% url 'calendario:profesional_add_especialidades' %}",
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    profesional_id: {{ profesional.id }},
                    especialidades: especialidades
                },
                success: function(response) {
                    
                    if(response.error){
                        
                        var modal = $("#modal-error");
                        
                        $("#modal-error p").html(response.mensaje);
                        
                        modal.modal("show");
                        
                        return;
                    }
                    
                    var modal = $("#modal-infomacion");
                    
                    $("#modal-infomacion p").html(response.mensaje);
                    
                    modal.modal("show");
                }
            });
        }
        
        function eliminarRestriccion(restriccion_id){
            
            $("#myModal").modal("show");
            
            $("#btnDel").click(function () {
                
                $.ajax({
                    url: "{% url 'calendario:restriccion_delete' %}",
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        restriccion_id: restriccion_id
                    },
                    success: function(response) {
                        location.reload();
                    }
                });
            });
        }
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li><a href="{% url 'calendario:profesional_all' %}">Profesionales</a></li>
        <li class="active">Detalles</li>
    </ol>
    <h3 class="text-center">
        {{ profesional }}.
    </h3>
    <div class="modal fade" id="modal-infomacion" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="glyphicon glyphicon-info-sign"></i> Información
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'calendario:profesional_all' %}" class="btn btn-primary pull-right">
                        Aceptar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-error" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="glyphicon glyphicon-info-sign"></i> Error
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle"></i> Eliminar restricción</h4>
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea eliminar esta restricción?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btnDel" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tabbable" id="tabs-348111">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#this" data-toggle="tab"><i class="glyphicon glyphicon-user"> Profesional</i></a>
            </li>
            <li>
                <a href="#restricciones" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"> Restricciones</i></a>
            </li>
            <li>
                <a href="#especialidades" data-toggle="tab"><i class="glyphicon glyphicon-th-list"> Especialidades</i></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="this">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-centered">
                    <form class="form-horizontal" id="editForm" name="editForm" method="POST" action="{% url 'calendario:profesional_edit' %}">
                        <div class="alert alert-dismissable alert-danger hidden">
                            <button type="button" class="close" data-hide="alert" aria-hidden="true">
                                ×
                            </button>
                            <h4>
                                Error al guardar el profesional.
                            </h4>
                            <strong>Ojo!</strong> Un campo no es válido:
                            <p>
                            </p>
                        </div>
                        {% csrf_token %}
                        <input id="profesional_id" name="profesional_id" type="hidden" value="{{ profesional.id }}">
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="nombre">Nombre:</label>
                            <div class="col-xs-9">
                                <input type="text" id="nombre" name="nombre" class="form-control" value="{{ profesional.nombre }}" autofocus placeholder="Nombre del profesional">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="apellido">Apellido:</label>
                            <div class="col-xs-9">
                                <input type="text" id="apellido" name="apellido" class="form-control" value="{{ profesional.apellido }}" placeholder="Apellido del profesional">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="cuil">Cuil:</label>
                            <div class="col-xs-2">
                                <select id="tipo" name="tipo" class="form-control">
                                {% if profesional.tipo == "20" %}
                                    <option selected value="20">20</option>
                                {% else %}
                                    <option value="20">20</option>
                                {% endif %}
                                {% if profesional.tipo == "23" %}
                                    <option selected value="23">23</option>
                                {% else %}
                                    <option value="23">23</option>
                                {% endif %}
                                {% if profesional.tipo == "24" %}
                                    <option selected value="24">24</option>
                                {% else %}
                                    <option value="24">24</option>
                                {% endif %}
                                {% if profesional.tipo == "27" %}
                                    <option selected value="27">27</option>
                                {% else %}
                                    <option value="27">27</option>
                                {% endif %}
                                </select>
                            </div>
                            <div class="col-xs-5">
                                <input type="text" id="documento" name="documento" class="form-control" placeholder="Número de documento" value="{{ profesional.documento }}">
                            </div>
                            <div class="col-xs-2">
                                <select id="verificador" name="verificador" class="form-control">
                                {% if profesional.verificador == '0' %}
                                    <option selected value="0">0</option>
                                {% else %}
                                    <option value="0">0</option>
                                {% endif %}
                                {% if profesional.verificador == '1' %}
                                    <option selected value="1">1</option>
                                {% else %}
                                    <option value="1">1</option>
                                {% endif %}
                                {% if profesional.verificador == '1' %}
                                    <option selected value="2">2</option>
                                {% else %}
                                    <option value="2">2</option>
                                {% endif %}
                                {% if profesional.verificador == '3' %}
                                    <option selected value="3">3</option>
                                {% else %}
                                    <option value="3">3</option>
                                {% endif %}
                                {% if profesional.verificador == '4' %}
                                    <option selected value="4">4</option>
                                {% else %}
                                    <option value="4">4</option>
                                {% endif %}
                                {% if profesional.verificador == '5' %}
                                    <option selected value="5">5</option>
                                {% else %}
                                    <option value="5">5</option>
                                {% endif %}
                                {% if profesional.verificador == '6' %}
                                    <option selected value="6">6</option>
                                {% else %}
                                    <option value="6">6</option>
                                {% endif %}
                                {% if profesional.verificador == '7' %}
                                    <option selected value="7">7</option>
                                {% else %}
                                    <option value="7">7</option>
                                {% endif %}
                                {% if profesional.verificador == '8' %}
                                    <option selected value="8">8</option>
                                {% else %}
                                    <option value="8">8</option>
                                {% endif %}
                                {% if profesional.verificador == '9' %}
                                    <option selected value="9">9</option>
                                {% else %}
                                    <option value="9">9</option>
                                {% endif %}
                                </select>
                            </div>
                        </div>
                        <button type="submit" id="btnGuardar" data-loading-text="Guardando..." class="btn btn-primary pull-right" autocomplete="off">
                            <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                        </button>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="restricciones">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>Restricciones</b></h3>
                        </div>
                        <ul id="ulRestricciones" class="list-group restricciones overflow">
                            {% for restriccion in restricciones %}
                                <li id="{{ restriccion.id }}" class="list-group-item">
                                    <p>
                                        {% if restriccion.nombre_dia_semana|length > 10 %}
                                            {{ restriccion.nombre_dia_semana }} de {{ restriccion.hora_desde }} a {{ restriccion.hora_hasta }}.
                                        {% else %}
                                            El {{ restriccion.nombre_dia_semana }} de {{ restriccion.hora_desde }} a {{ restriccion.hora_hasta }}.
                                        {% endif %}
                                        <a class="btn btn-danger pull-right" data-toggle="modal" onclick="eliminarRestriccion({{ restriccion.id }})">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                Agregar restricción a {{ profesional }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <form class="form" id="addRestriccionForm" method="POST" action="{% url 'calendario:restriccion_add' %}">
                                <div class="alert alert-dismissable alert-danger hidden">
                                    <button type="button" class="close" data-hide="alert" aria-hidden="true">
                                        ×
                                    </button>
                                    <h4>
                                        Error al guardar la restricción.
                                    </h4>
                                    <strong>Ojo!</strong> Un campo no es válido:
                                    <p>
                                    </p>
                                </div>
                                {% csrf_token %}
                                <input id="profesional_id" name="profesional_id" type="hidden" value="{{ profesional.id }}">
                                <div class="form-group">
                                    <label class="control-label" for="dia_semana">Día de la semana:</label>
                                    <select class="form-control" id="dia_semana" name="dia_semana">
                                        <option value="7">Todos los días</option>
                                        <option value="0">Domingo</option>
                                        <option value="1">Lunes</option>
                                        <option value="2">Martes</option>
                                        <option value="3">Miércoles</option>
                                        <option value="4">Jueves</option>
                                        <option value="5">Viernes</option>
                                        <option value="6">Sábado</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="hora_desde">Hora desde:</label>
                                    <input type="text" class="form-control" id="hora_desde" name="hora_desde" placeholder="HH:mm"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="hora_hasta">Hora hasta:</label>
                                    <input type="text" class="form-control" id="hora_hasta" name="hora_hasta" placeholder="HH:mm"/>
                                </div>
                                <button type="submit" id="btnRestriccionGuardar" data-loading-text="Guardando..." class="btn btn-primary pull-right" autocomplete="off">
                                    <i class="glyphicon glyphicon-floppy-save"></i> Agregar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="especialidades">
                <div class="col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>Disponibles</b></h3>
                        </div>
                        <ul id="eDisponibles" class="list-group especialidades overflow">
                            {% for especialidad in especialidades %}
                                {% if not especialidad in profesional.especialidades.all %}
                                    <li id="{{ especialidad.id }}" class="btn list-group-item li" onclick="agregar(this)">
                                        {{ especialidad }}
                                        <i class="glyphicon glyphicon-chevron-right text-success pull-right"></i>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>Asignadas</b></h3>
                        </div>
                        <ul id="eAsignadas" class="list-group especialidades overflow">
                            {% for especialidad in profesional.especialidades.all %}
                                <li id="{{ especialidad.id }}" class="btn list-group-item li" onclick="eliminar(this)">
                                    {{ especialidad }}
                                    <i class="glyphicon glyphicon-chevron-left text-danger pull-right"></i>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-primary pull-right" onclick="guardarEspecialidades()">
                        <i class="glyphicon glyphicon-floppy-save"></i> Guardar cambios
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block alert %}
    <div class="alert alert-info" role="alert">
        <p>
            <span class="glyphicon glyphicon-info-sign"></span>
            <strong>Nota:</strong> Haz clic sobre una especialidad para
            asignarla. Lo mismo para quitarla.
        </p>
    </div>
{% endblock %}
