{% extends "admin/base.html" %}
{% load staticfiles %}

{% block title %}Acerca de Horarios{% endblock %}

{% block head %}
{% endblock %}

{% block article %}
    <div class="col-xs-11">
        <div class="page-header">
            <h1>
                Acerca de Horarios <small>¿Por dónde comenzar?</small>
            </h1>
        </div>
        <p>
            Primero establezcamos que queremos hacer y despues vemos
            como conseguirlo. Para generar calendarios primero debemos
            tener un espacio sobre el cual trabajar. Pero para tener un
            espacio antes necesitamos tener especialidades y
            profesionales, entonces empecemos por ahí...
        </p>
        <dl>
            <dt>
                <h3><i>Crear una especialidad</i></h3>
            </dt>
            <dd>
                En el menú lateral izquierdo, clickea el ítem
                Especialidad y selecciona la opción 'Crea nueva...' o
                puedes acceder desde 
                <a href="{% url 'calendario:especialidad_add' %}">este link.</a>
                <br>
                <br>
                Verás algo asi:
                <br>
                <br>
                <img src="{% static 'calendario/img/acerca/addEspecialidad.png' %}" class="col-xs-12">
                <strong>NOTA:</strong> El campo color determina la
                representación que tendrá esa especialidad en el
                calendario final.
            </dd>
            <dt>
                <h3><i>Ver todas las especialidades</i></h3>
            </dt>
            <dd>
                Para ver todas las especialidades cargadas, ve a la
                opción 'Ver todas' en el ítem Especialidad o clickea en
                <a href="{% url 'calendario:especialidad_all' %}">este link.</a>
                <br>
                <br>
                Allí las verás listadas de la siguiente manera:
                <br>
                <br>
                <img src="{% static 'calendario/img/acerca/allEspecialidad.png' %}" class="col-xs-12">
            </dd>
        </dl>
    </div>
{% endblock %}
