{% extends "admin/base.html" %}

{% block title %}Crear un calendario a medida{% endblock %}

{% block head %}
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }
        
        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }
        
        function drop(ev) {
            
            ev.preventDefault();
            
        }
        
        function guardar(){
            
            var datos = {csrfmiddlewaretoken: "{{ csrf_token }}"};
            
            for(i = 1; i < {{ espacio.dias_habiles|length }}*{{ espacio.horas|length }}+1; i++){
                
                var espacio_horario = document.getElementById(i);
                
                if(espacio_horario == null){
                    
                    var modal = $("#myModal");
                    
                    $("#myModal p").html("El calendario no se puede guardar por que no está completo");
                    
                    modal.modal("show");
                    
                    return;
                }
                
                datos[i] = {};
                datos[i].coordinador = espacio_horario.getAttribute('name');
                datos[i].desde = espacio_horario.getAttribute('desde');
                datos[i].dia = espacio_horario.getAttribute('dia');
            }
            
            $.ajax({
                url: "{% url 'calendario:add' espacio.id %}",
                type: 'POST',
                dataType: 'json',
                data: datos,
                success: function(response){
                    
                    alert(response.mensaje);
                    
                },
                error: function(response){
                    
                    alert(response.responseText);
                    
                }
            });
        }
        
        function nuevo(){
            location.reload();
        }
        
        function seleccionar(){
            
            var modal = $("#seleccionarEspecialidad");
            
            modal.modal("show");
            
        }
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li><a href="{% url 'calendario:espacio_all' %}">Espacios</a></li>
        <li><a href="{% url 'calendario:espacio_detail' espacio.id %}">{{ espacio.nombre }}</a></li>
        <li class="active">Agregar</li>
    </ol>
    <h3 class="text-center">
        Calendario para "{{ espacio }}"
    </h3>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle"></i> Error</h4>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="seleccionarEspecialidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div data-toggle="buttons">
                    {% for coordinador in espacio.coordinadores %}
                        <label class="btn btn-lg col-xs-6" style="background-color: {{ coordinador.especialidad.color }}">
                            <input type="checkbox" autocomplete="off"> {{ coordinador.especialidad }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btn btn-group btn-block">
        <button class="btn btn-lg btn-default" onclick="nuevo()" title="Nuevo calendario">
            <i class="glyphicon glyphicon-file"></i> Nuevo
        </button>
        <button class="btn btn-lg btn-default" onclick="guardar()" title="Guardar calendario">
            <i class="glyphicon glyphicon-floppy-save"></i> Guardar
        </button>
        <a id="trash" class="btn btn-lg pull-right" ondrop="eliminar(event)" ondragover="allowDrop(event)">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>
        <table class="table calendario">
            <thead>
                <tr class="bg-primary">
                    <th>
                    </th>
                    {% for dia in dias %}
                        <th class="text-center">
                            <h4><strong>{{ dia }}</strong></h4>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for hora in espacio.horas %}
                    <tr>
                        <td class="text-center bg-primary">
                            <h4>
                                <strong>{{ hora.hora_desde }}</strong>
                            </h4>
                        </td>
                        {% for dia in espacio.dias_habiles %}
                            <td class="text-center">
                                <button onclick="seleccionar()" class="btn btn-lg btn-default">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
