{% extends "admin/base.html" %}

{% block title %}Ups! Ocurrió un error{% endblock %}

{% block head %}
    <script>
        
    </script>
{% endblock %}
{% block article %}
    <div class="alert alert-danger">
        <b>
            <i class="glyphicon glyphicon-exclamation-sign"></i> Acceso denegado
        </b>
        <p>
            Parece que usted no debería estar aquí.
            Si cree que esto es un error, por favor contacte al administrador.
            <a href="{% url 'index' %}" class="btn btn-default pull-right">
                <i class="glyphicon glyphicon-chevron-left"></i> Inicio
            </a>
        </p>
        
    </div>
{% endblock %}
