{% extends "admin/base.html" %}

{% block title %}Detalles del calendario {{ calendario.id }} {% endblock %}

{% block head %}
    <script>
        
        {% if false %}
        document.onkeydown = checkKey;
        
        function checkKey(e) {
            
            e = e || window.event;
            
            if (e.keyCode == '37') {
                {% if anterior %}
                    window.location.href = "{% url 'calendario:detail' anterior.id %}";
                {% endif %}
            }
            else if (e.keyCode == '39') {
                {% if siguiente %}
                    window.location.href = "{% url 'calendario:detail' siguiente.id %}";
                {% endif %}
            }
        }
        {% endif %}
        {% if perms.auth.directivo or perms.auth.admin %}
        function confirmarCalendario(calendario_id){
            
            if(!confirm("¿Está seguro que desea confirmar el calendario?"))
                return;
            
            $.ajax({
                url: "{% url 'calendario:confirmar' %}",
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    calendario_id: calendario_id
                },
                success: function (response){
                    
                    if(response.error){
                        
                        var modal = $("#modal-error");
                        
                        $("#modal-error p").html(response.mensaje);
                        
                        modal.modal("show");
                        
                        return;
                    }
                    
                    var modal = $("#modal-informacion");
                    
                    $("#modal-informacion p").html(response.mensaje);
                    
                    $("#modal-informacion a").prop("href", "{% url 'calendario:all' %}");
                    
                    modal.modal("show");
                }
            });
        }
        
        function eliminarCalendario(calendario_id){
            
            if(!confirm("¿Está seguro que desea eliminar el calendario?"))
                return;
            
            $.ajax({
                url: "{% url 'calendario:delete' %}",
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    calendario_id: calendario_id
                },
                success: function(response) {
                    
                    if(response.error) {
                        
                        var modal = $("#modal-error");
                        
                        $("#modal-error p").html(response.mensaje);
                        
                        modal.modal("show");
                        
                        return;
                    }
                    
                    var modal = $("#modal-informacion");
                    
                    $("#modal-informacion p").html(response.mensaje);
                    
                    $("#modal-informacion a").prop("href", "{% url 'calendario:all' %}");
                    
                    modal.modal("show");
                }
            });
        }
        {% endif %}
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li><a href="{% url 'calendario:all' %}">Calendarios</a></li>
        <li class="active">{{ calendario.id }}</li>
    </ol>
    <h3 class="text-center">
        Calendario de {{ calendario.espacio.nombre }}.
    </h3>
    <div class="modal fade" id="modal-informacion" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="glyphicon glyphicon-info-sign"></i> Información
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary pull-right">
                        Aceptar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-error" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="glyphicon glyphicon-info-sign"></i> Error
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger pull-right" data-dismiss="modal">
                        Aceptar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="btn btn-group">
        {% if perms.auth.directivo or perms.auth.admin %}
            {% if calendario.estado == "OFF" %}
                <a onclick="confirmarCalendario({{ calendario.id }})" class="btn btn-default" title="Confirmar este calendario"><i class="glyphicon glyphicon-ok"></i> Confirmar</a>
            {% endif %}
        <a href="{% url 'calendario:edit' calendario.id %}" class="btn btn-default" title="Editar calendario"><i class="glyphicon glyphicon-edit"></i> Editar</a>
        {% endif %}
        <a href="{% url 'calendario:imprimir' calendario.id %}" class="btn btn-default" title="Generar PDF" target="_blank"><i class="fa fa-file-pdf-o"></i> PDF</a>
        {% if perms.auth.directivo or perms.auth.admin %}
        <a onclick="eliminarCalendario({{ calendario.id }})" class="btn btn-danger" title="Eliminar este calendario"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
        {% endif %}
    </div>
    <table class="table calendario">
        <thead>
            <tr class="bg-primary">
                <th class="text-center">
                </th>
                {% for dia in dias %}
                    <th class="text-center">
                        <h4><strong>{{ dia }}</strong></h4>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for franja_horaria in calendario.horarios %}
            <tr>
                <td class="text-center bg-primary">
                    <h4>
                        <strong>{{ franja_horaria.1.hora_desde }}</strong>
                    </h4>
                </td>
            {% for horario in franja_horaria %}
                {% if horario.penalizado > 0 %}
                <td penalizado="{{ horario.penalizado }}" class="text-center">
                {% else %}
                <td penalizado="{{ horario.penalizado }}" class="text-center" style="background-color: {{ horario.coordinador.especialidad.color }}">
                {% endif %}
                    <h4>
                        <strong>{{ horario.coordinador.especialidad }}</strong>
                    </h4>
                    {{ horario.coordinador.profesional }}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if false %}
    <nav>
        <ul class="pager">
            {% if anterior %}
                <li class="previous"><a href="{% url 'calendario:detail' anterior.id %}"><i class="glyphicon glyphicon-arrow-left"></i> Anterior</a></li>
            {% endif %}
            {% if siguiente %}
                <li class="next"><a href="{% url 'calendario:detail' siguiente.id %}">Siguiente <i class="glyphicon glyphicon-arrow-right"></i></a>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}
