{% extends "admin/base.html" %}

{% block title %}Editando calendario #{{ calendario.id }}{% endblock %}

{% block head %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
        
        var elementTransfer;
        
        function allowDrop(ev) {
            ev.preventDefault();
        }
        
        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target);
            elementTransfer = ev.target;
        }
        
        function drop(ev) {
            
            ev.preventDefault();
            
            var coordinador_origen = $(elementTransfer);
            
            var horario_destino = $(ev.target).parent();
            
            if(ev.target.nodeName == "STRONG")
                horario_destino = horario_destino.parent();
            
            var coordinador_destino = horario_destino.children("p");
            var horario_origen = coordinador_origen.parent();
            
            horario_destino.append(coordinador_origen);
            horario_origen.append(coordinador_destino);
        }
        
        function guardar(){
            
            var datos = {csrfmiddlewaretoken: "{{ csrf_token }}"};
            var i = 0;
            
            $('[name="horario"]').each(function (){
                
                datos[i] = {};
                datos[i].horario = $(this).prop("id");
                datos[i].coordinador = $(this).children('p').prop("id");
                
                i++;
            });
            
            $.ajax({
                url: "{% url 'calendario:edit' calendario.id %}",
                type: 'POST',
                dataType: 'json',
                data: datos,
                success: function(response){
                    
                    if(response.error)
                    {
                        alert(response.error);
                        
                        return
                    }
                    
                    alert(response.mensaje);
                }
            });
        }
        
        function eliminar(ev){
            
            var coordinadorId = ev.dataTransfer.getData("text");
            var coordinador = document.getElementById(coordinadorId);
            
            if(coordinador == null)
                return;
            
            var nodePadre = coordinador.parentNode;
            
            if(nodePadre.nodeName == 'DIV'){
                nodePadre.removeChild(coordinador);
                nodePadre.parentNode.style.backgroundColor = "white";
            }
        }
        
        function eliminarCalendario(calendario_id){
            
            if(!confirm("¿Está seguro que desea eliminar el calendario?"))
                return;
            
            $.ajax({
                url: "{% url 'calendario:delete' %}",
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    calendario_id: calendario_id
                },
                success: function(response) {
                    
                    if(response.error) {
                        alert(response.error);
                        return;
                    }
                    
                    alert(response.mensaje);
                    
                    window.location.href = "{% url 'calendario:espacio_detail' calendario.espacio.id %}#calendarios";
                }
            });
        }
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li><a href="{% url 'calendario:espacio_all' %}">Espacios</a></li>
        <li><a href="{% url 'calendario:espacio_detail' espacio.id %}">{{ espacio.nombre }}</a></li>
        <li><a href="{% url 'calendario:detail' calendario.id %}">{{ calendario.id }}</a></li>
        <li class="active">Editar</li>
    </ol>
    <h3 class="text-center">
        Editando calendario #{{ calendario.id }}
    </h3>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle"></i> Error</h4>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="btn btn-group">
            <a onclick="guardar()" class="btn btn-lg btn-default" title="Guardar cambios"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a>
            <a href="{% url 'calendario:imprimir' calendario.id %}" class="btn btn-lg btn-default" title="Generar PDF" target="_blank"><i class="fa fa-file-pdf-o"></i> PDF</a>
            <a onclick="eliminarCalendario({{ calendario.id }})" class="btn btn-lg btn-danger" title="Eliminar este calendario"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
        </div>
    </div>
    <div class="col-xs-12">
        <table class="table calendario">
            <thead>
                <tr class="bg-primary">
                    <th>
                    </th>
                    {% for dia in dias %}
                        <th class="text-center">
                            <h4><strong>{{ dia }}</strong></h4>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for franja_horaria in calendario.horarios %}
                    <tr>
                        <td class="text-center bg-primary">
                            <h4>
                                <strong>{{ franja_horaria.1.hora_desde }}</strong>
                            </h4>
                        </td>
                        {% for horario in franja_horaria %}
                            <td class="text-center horario-container">
                                <div id="{{ horario.id }}" name="horario" ondrop="drop(event)" ondragover="allowDrop(event)">
                                    <p id="{{ horario.coordinador.id }}" draggable="true" ondragstart="drag(event)" class="lead especialidad" style="background-color: {{ horario.coordinador.especialidad.color }}">
                                        <strong>{{ horario.coordinador.especialidad }}</strong>
                                    </p>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
