{% extends "admin/base.html" %}

{% block title %}Editando calendario #{{ calendario.id }}{% endblock %}

{% block head %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
        
        function allowDrop(ev) {
            ev.preventDefault();
        }
        
        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }
        
        function drop(ev) {
            
            ev.preventDefault();
            
            var coordinadorId = ev.dataTransfer.getData("text");
            var coordinador = document.getElementById(coordinadorId);
            
            if(coordinador == null)
                return;
            
            if(ev.target.nodeName == 'STRONG' && coordinador.parentNode.nodeName != 'LI'){
                
                var coordinadorDestino = ev.target.parentNode;
                var divDestino = coordinadorDestino.parentNode;
                var divOrigen = coordinador.parentNode;
                
                divDestino.appendChild(coordinador);
                divOrigen.appendChild(coordinadorDestino);
                
            }
            else if(ev.target.children.length == 0){
                
                if(ev.target.nodeName == 'STRONG')
                    return;
                
                if(coordinador.parentNode.nodeName != 'DIV')
                    coordinador = coordinador.cloneNode(true);
                
                //PARA ASIGNAR UN ID HAY QUE COMPROBAR SU UBICACION.
                coordinador.setAttribute('id', parseInt(ev.target.getAttribute("horario"))*{{ espacio.dias_habiles|length }}+parseInt(ev.target.getAttribute("dia")));
                coordinador.setAttribute('desde', ev.target.getAttribute('desde'));
                coordinador.setAttribute('dia', ev.target.getAttribute('dia'));
                
                ev.target.appendChild(coordinador);
                
                ev.target.parentNode.style.backgroundColor = coordinador.style.backgroundColor;
            }
            
        }
        
        function guardar(){
            
            var datos = {csrfmiddlewaretoken: "{{ csrf_token }}"};
            
            for(i = 1; i < {{ espacio.dias_habiles|length }}*{{ espacio.horas|length }}+1; i++){
                
                var espacio_horario = document.getElementById(i);
                
                if(espacio_horario == null){
                    alert("El calendario no se puede guardar por que no está completo:" + i);
                    return;
                }
                
                datos[i] = {};
                datos[i].coordinador = espacio_horario.getAttribute('name');
                datos[i].desde = espacio_horario.getAttribute('desde');
                datos[i].dia = espacio_horario.getAttribute('dia');
            }
            
            $.ajax({
                url: "{% url 'calendario:edit' espacio.id %}",
                type: 'POST',
                dataType: 'json',
                data: datos,
                success: function(response){
                    
                    alert(response.mensaje);
                    
                },
                error: function(response){
                    
                    alert(response.responseText);
                    
                }
            });
        }
        
        function imprimir(){
            alert("Imprimiendo...");
        }
        
        function eliminar(ev){
            
            var coordinadorId = ev.dataTransfer.getData("text");
            var coordinador = document.getElementById(coordinadorId);
            
            if(coordinador == null)
                return;
            
            var nodePadre = coordinador.parentNode;
            
            if(nodePadre.nodeName == 'DIV'){
                nodePadre.removeChild(coordinador);
                nodePadre.parentNode.style.backgroundColor = "white";
            }
        }
        
        function eliminarCalendario(calendario_id){
            
            if(!confirm("¿Está seguro que desea eliminar el calendario?"))
                return;
            
            $.ajax({
                url: "{% url 'calendario:delete' %}",
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    calendario_id: calendario_id
                },
                success: function(response) {
                    
                    if(response.error) {
                        alert(response.error);
                        return;
                    }
                    
                    alert(response.mensaje);
                    
                    window.location.href = "{% url 'calendario:espacio_detail' calendario.espacio.id %}#calendarios";
                }
            });
        }
        
        function nuevo(){
            location.reload();
        }
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li><a href="{% url 'calendario:espacio_all' %}">Espacios</a></li>
        <li><a href="{% url 'calendario:espacio_detail' espacio.id %}">{{ espacio.nombre }}</a></li>
        <li><a href="{% url 'calendario:detail' calendario.id %}">{{ calendario.id }}</a></li>
        <li class="active">Editar</li>
    </ol>
    <h3 class="text-center">
        Editando calendario #{{ calendario.id }}
        <button class="btn btn-danger pull-right" onclick="eliminarCalendario({{ calendario.id }})">
            <i class="glyphicon glyphicon-trash"></i> <strong>Eliminar calendario</strong>
        </button>
    </h3>
    <br>
    <div class="col-xs-12">
        <ul class="list-inline">
        {% for coordinador in espacio.coordinadores %}
            <li>
                <p id="{{ coordinador.especialidad|cut:" " }}" name="{{ coordinador.id }}" draggable="true" ondragstart="drag(event)" class="lead especialidad" style="background-color: {{ coordinador.especialidad.color }}">
                    <strong>{{ coordinador.especialidad }}</strong>
                </p>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-xs-12">
        <ul class="list-inline">
            <li>
                <button class="btn btn-lg btn-default" onclick="guardar()" title="Guardar cambios">
                    <i class="glyphicon glyphicon-floppy-save"></i>
                </button>
            </li>
            <li>
                <button class="btn btn-lg btn-default" onclick="nuevo()" title="Deshacer cambios">
                    <i class="fa fa-undo"></i>
                </button>
            </li>
            <li>
                <button class="btn btn-lg btn-default" onclick="imprimir()" title="Imprimir calendario">
                    <i class="fa fa-file-pdf-o"></i>
                </button>
            </li>
            <li>
                <a id="trash" class="btn btn-lg btn-default" ondrop="eliminar(event)" ondragover="allowDrop(event)" data-toggle="popover" data-trigger="focus" title="Eliminar horario" data-content="">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12">
        <table class="table calendario">
            <thead>
                <tr class="bg-primary">
                    <th>
                    </th>
                    {% for dia in dias %}
                        <th class="text-center">
                            <h4><strong>{{ dia }}</strong></h4>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for franja_horaria in calendario.horarios %}
                    <tr>
                        <td class="text-center bg-primary">
                            <h4>
                                <strong>{{ franja_horaria.1.hora_desde }}</strong>
                            </h4>
                        </td>
                        {% for horario in franja_horaria %}
                            <td class="text-center">
                                <div id="{% widthratio forloop.parentloop.counter0 1 espacio.dias_habiles|length|add:horario.dia_semana %}" dia="{{ horario.dia_semana }}" desde="{{ horario.hora_desde }}" horario="{{ forloop.parentloop.counter0 }}" ondrop="drop(event)" ondragover="allowDrop(event)" class="horario-container">
                                    <p id="{{ horario.coordinador.especialidad|cut:" " }}" name="{{ horario.coordinador.id }}" draggable="true" ondragstart="drag(event)" class="lead especialidad" style="background-color: {{ horario.coordinador.especialidad.color }}">
                                        <strong>{{ horario.coordinador.especialidad }}</strong>
                                    </p>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
