{% extends "admin/base.html" %}

{% block title %}
    {% if usuario.persona.genero == 'F' %}
        ¡Bienvenida {{ usuario.user.first_name }}!
    {% else %}
        ¡Bienvenido {{ usuario.user.first_name }}!
    {% endif %}
{% endblock %}

{% block head %}
    <script>
        
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-fw fa-calendar"></i> Inicio</li>
    </ol>
    <h2 class="text-center">
        {% if usuario.persona.genero == 'F' %}
            ¡Bienvenida {{ usuario.user.first_name }}!
        {% else %}
            ¡Bienvenido {{ usuario.user.first_name }}!
        {% endif %}
    </h2>
    <br>
    <div class="container-fluid">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-fw fa-th-list fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ especialidades|length }}</div>
                            <div>Especialidades</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'calendario:especialidad_all' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Ver todas</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        {% if perms.auth.directivo or perms.auth.admin %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-fw fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ profesionales|length }}</div>
                            <div>Profesionales</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'calendario:profesional_all' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Ver todos</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-fw fa-paperclip fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ espacios|length }}</div>
                            <div>Espacios</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'calendario:espacio_all' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Ver todos</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-fw fa-calendar fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ calendarios|length }}</div>
                            <div>Calendarios</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'calendario:all' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Ver todos</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
