{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Bienvenido a Horarios!</title>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'calendario/css/bootstrap.min.css' %}" />

        <!-- Custom Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'calendario/font-awesome/css/font-awesome.min.css' %}" />
        
        <!-- Plugin CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'calendario/css/animate.min.css' %}" />

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'calendario/css/creative.css' %}" />
        
        <!-- jQuery -->
        <script type="text/javascript" src="{% static 'calendario/js/jquery-1.11.3.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="{% static 'calendario/js/bootstrap.min.js' %}"></script>

        <!-- Plugin JavaScript -->
        <script type="text/javascript" src="{% static 'calendario/js/jquery.easing.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'calendario/js/jquery.fittext.js' %}"></script>
        <script type="text/javascript" src="{% static 'calendario/js/wow.min.js' %}"></script>
        
        <!-- Custom Theme JavaScript -->
        <script type="text/javascript" src="{% static 'calendario/js/creative.js' %}"></script>
    </head>
    <body id="page-top">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/">Horarios!</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="{% url 'calendario:espacio_all' %}">Iniciar sesión</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>Horarios!<small> Generador de calendarios</small></h1>
                    <hr>
                    <p>
                        Horarios es una aplicación desarrollada para que
                        usted deje de romperse la cabeza tratando de
                        acomodar a los profesionales de su institución
                        en un calendario semanal. Lo único que
                        necesitamos es que usted nos provea de ciertos
                        datos y ¡del resto nos encargamos nosotros!
                    </p>
                    <a href="{% url 'calendario:espacio_all' %}" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                </div>
            </div>
        </header>
        
    </body>
</html>
