{% extends "admin/base.html" %}

{% load staticfiles %}

{% block title %}Perfil de {{ user.last_name }}, {{ user.first_name }}{% endblock %}

{% block head %}
    <script>
        $(function () {
            $("#tbActividad").DataTable({
                "bSort": false
            });
        });
    </script>
{% endblock %}
{% block article %}
    <div class="container-fluid">
        <div class="col-md-12">
            <h2>
                {{ user.last_name }}, {{ user.first_name }}
            </h2>
            <br>
			<div class="tabbable" id="tabs-70055">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#datos" data-toggle="tab">Mi perfil</a>
					</li>
					<li>
						<a href="#actividad" data-toggle="tab">Actividad</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="datos">
                        <div class="col-xs-12">
                            <a href="{% url 'perfil:editar' %}" class="btn btn-info pull-right">
                                <i class="glyphicon glyphicon-edit"></i> Editar
                            </a>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-3 col-lg-offset-1">
                            <img src="{% static 'perfil/img/user-default.png' %}">
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <dl class="dl-horizontal">
                                <dt>
                                    Nombre
                                </dt>
                                <dd>
                                    {{ user.first_name }}
                                </dd>
                                <hr>
                                
                                <dt>
                                    Apellido
                                </dt>
                                <dd>
                                    {{ user.last_name }}
                                </dd>
                                <hr>
                                {% if perms.auth.profesional or perms.auth.directivo %}
                                <dt>
                                    Institución
                                </dt>
                                <dd>
                                    {{ user.institucion }}
                                </dd>
                                <hr>
                                {% endif %}
                                <dt>
                                    Usuario
                                </dt>
                                <dd>
                                    {{ user.username }}
                                </dd>
                                <hr>
                                <dt>
                                    Email
                                </dt>
                                <dd>
                                    {{ user.email }}
                                </dd>
                                <hr>
                                <dt>
                                    Contraseña
                                </dt>
                                <dd>
                                    ******
                                </dd>
                            </dl>
                        </div>
					</div>
					<div class="tab-pane" id="actividad">
                        <div class="col-xs-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Actividad
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <table id="tbActividad" class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Mensaje</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for actividad in actividades %}
                                                <tr>
                                                    <td>{{ actividad.fecha }}</td>
                                                    <td>{{ actividad.mensaje }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}
