{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>		
		<link rel="stylesheet" type="text/css" href="{% static 'calendario/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'calendario/css/custom.css' %}" />
		<link rel="shortcut icon" type="image/png" href="{% static 'calendario/images/favicon.png' %}"/>
		<script type="text/javascript" src="{% static 'calendario/js/jquery-1.11.3.js' %}"></script>
		<script type="text/javascript" src="{% static 'calendario/js/bootstrap.js' %}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
							<div class="navbar-header">
								 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">Inicio</a>
							</div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li class="dropdown">
										 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Espacio<strong class="caret"></strong></a>
										<ul class="dropdown-menu inverse">
											<li>
												<a href="{% url 'calendario:espacio_add' %}">Agregar un espacio</a>
											</li>
											<li class="divider">
											</li>
											<li>
												<a href="{% url 'calendario:espacio_all' %}">Ver todos</a>
											</li>
										</ul>
									</li>
									<li class="dropdown">
										 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Calendario<strong class="caret"></strong></a>
										<ul class="dropdown-menu inverse">
											<li>
												<a href="{% url 'calendario:add' %}">Crear a medida</a>
											</li>
											<li class="divider">
											</li>
											<li>
												<a href="{% url 'calendario:all' %}">Ver todos</a>
											</li>
										</ul>
									</li>
									<li class="dropdown">
										 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profesionales<strong class="caret"></strong></a>
										<ul class="dropdown-menu inverse">
											<li>
												<a href="{% url 'calendario:profesional_add' %}">Agregar nuevo</a>
											</li>
											<li class="divider">
											</li>
											<li>
												<a href="{% url 'calendario:profesional_all' %}">Ver todos</a>
											</li>
										</ul>
									</li>
									<li class="dropdown">
										 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Especialidades<strong class="caret"></strong></a>
										<ul class="dropdown-menu">
											<li>
												<a href="{% url 'calendario:especialidad_add' %}">Agregar nueva</a>
											</li>
											<li class="divider">
											</li>
											<li>
												<a href="{% url 'calendario:especialidad_all' %}">Ver todas</a>
											</li>
										</ul>
									</li>
								</ul>
								<ul class="nav navbar-nav navbar-right">
									<li>
										<a href="/">Cerrar sesión</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<article>
			{% block article %}{% endblock %}
		</article>
		<footer>
			
		</footer>
	</body>
</html>
