{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/png" href="{% static 'calendario/img/favicon.png' %}"/>
        <title>{% block title %}{% endblock %}</title>
        <script src="{% static 'calendario/js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'calendario/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'calendario/js/bootstrap-colorpicker.min.js' %}"></script>
        <script src="{% static 'calendario/js/custom.js' %}"></script>
        <script src="{% static 'perfil/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'perfil/js/dataTables.bootstrap.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'calendario/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'calendario/css/bootstrap-colorpicker.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'calendario/css/sb-admin.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'calendario/css/plugins/morris.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'calendario/font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'calendario/css/custom.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'perfil/css/dataTables.bootstrap.min.css' %}" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><strong>HORARIOS!</strong></a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i> <strong>{{ request.user.last_name }}, {{ request.user.first_name }}</strong>
                            -
                            {% if perms.auth.directivo %}
                                Directivo
                            {% elif perms.auth.profesional %}
                                Profesional
                            {% elif perms.auth.admin %}
                                Administrador
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'perfil:index' %}"><i class="fa fa-fw fa-user"></i> Perfil</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-thumb-tack"></i> Recordatorios</a>
                            </li>
                            {% if perms.auth.admin %}
                            <li>
                                <a href="{% url 'perfil:administracion' %}"><i class="fa fa-fw fa-gear"></i> Administración</a>
                            </li>
                            {% endif %}
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'log_out' %}"><i class="fa fa-fw fa-power-off"></i> Cerrar sesión</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        {% if not perms.auth.profesional %}
                            <li>
                                <a href="{% url 'calendario:all' %}"><i class="fa fa-fw fa-calendar"></i> Calendarios</a>
                            </li>
                            <li>
                                <a href="{% url 'calendario:espacio_all' %}"><i class="glyphicon fa-fw glyphicon-paperclip"></i> Espacios</a>
                            </li>
                            <li>
                                <a href="{% url 'calendario:profesional_all' %}"><i class="fa fa-fw fa-users"></i> Profesionales</a>
                            </li>
                            <li>
                                <a href="{% url 'calendario:especialidad_all' %}"><i class="fa fa-fw fa-th-list"></i> Especialidades</a>
                            </li>
<!--
                            <li>
                                <a href="{% url 'calendario:acerca' %}"><i class="fa fa-fw fa-dashboard"></i> Acerca de Horarios</a>
                            </li>
-->
                        {% else %}
                            <li>
                                <a href="{% url 'calendario:all' %}"><i class="fa fa-fw fa-calendar"></i> Mis calendarios</a>
                            </li>
                            <li>
                                <a href="{% url 'calendario:especialidad_all' %}"><i class="fa fa-fw fa-th-list"></i> Mis especialidades</a>
                            </li>
                            <li>
                                <a href="{% url 'perfil:institucion_all' %}"><i class="fa fa-fw fa-th-list"></i> Mis instituciones</a>
                            </li>
                        {% endif %}
                        {% if perms.auth.admin %}
                            <li>
                                <a href="{% url 'perfil:user_all' %}"><i class="fa fa-fw fa-user"></i> Usuarios</a>
                            </li>
                        {% endif %}
                        <li>
                            {% block alert %}{% endblock %}
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid">
                    {% block article %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
