{% extends "admin/base.html" %}

{% block title %}Listado de especialidades{% endblock %}

{% block article %}
	<script>
		function eliminarEspecialidad(especialidad_id){
			
			if(!confirm("¿Está seguro que desea eliminar a esta especialidad?"))
				return;
			
			$.ajax({
				url: "{% url 'calendario:especialidad_delete' %}",
				type: 'POST',
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
					especialidad_id: especialidad_id
				},
				success: function(response) {
					window.location.href = "{% url 'calendario:especialidad_all' %}";
				}
			});
		}
	</script>
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-12">
				<div class="page-header">
					<h1>
						Especialidades<small>.</small>
					</h1>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>
								Nombre
							</th>
							<th>
								Carga horaria semanal
							</th>
							<th>
								Carga máxima diaria
							</th>
							<th>
								Acciones
							</th>
						</tr>
					</thead>
					{% if especialidades %}
						<tbody>
							{% for especialidad in especialidades %}
								<tr>
									<td class="vert-align">
										{{ especialidad.nombre }}
									</td>
									<td class="vert-align">
										{{ especialidad.carga_horaria_semanal }}
									</td>
									<td class="vert-align">
										{{ especialidad.max_horas_diaria }}
									</td>
									<td class="vert-align">
										<div class="btn btn-group btn-block">
											<a class="btn btn-default" title="Editar" href="{% url 'calendario:especialidad_edit' especialidad.id %}"><i class="glyphicon glyphicon-pencil"></i></a>
											<a class="btn btn-danger" title="Eliminar" onclick="eliminarEspecialidad({{ especialidad.id }})"><i class="glyphicon glyphicon-trash"></i></a>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					{% else %}
						<tfoot align="center">
							<tr>
								<td colspan="5">No hay especialidades cargadas.</td>
							</tr>
						</tfoot>
					{% endif %}
				</table>
				<div class="pagination">
					<span class="step-links">
						{% if especialidades.has_previous %}
							<a href="{% url 'calendario:especialidad_all' especialidades.previous_page_number %} ">Anterior</a>
						{% endif %}
						
						<span class="current">
							Página {{ especialidades.number }} de {{ especialidades.paginator.num_pages }}.
						</span>
						
						{% if especialidades.has_next %}
							<a href="{% url 'calendario:especialidad_all' especialidades.next_page_number %} ">Siguiente</a>
						{% endif %}
					</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
