{% extends "admin/base.html" %}

{% block title %}Listado de especialidades{% endblock %}

{% block head %}
    <script>    
        function eliminar(especialidad_id){
            
            $("#myModal").modal("show");
            
            $("#btnDel").click(function () {
                
                $.ajax({
                    url: "{% url 'calendario:especialidad_delete' %}",
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        especialidad_id: especialidad_id
                    },
                    success: function(response) {
                        window.location.href = "{% url 'calendario:especialidad_all' %}";
                    }
                });
            });
        }
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li class="active">Especialidades</li>
    </ol>
    <a href="{% url 'calendario:especialidad_add' %}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> Agregar especialidad
    </a>
    <br>
    <br>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle"></i> Eliminar especialidad</h4>
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea eliminar esta especialidad?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btnDel" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr class="default">
                <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Nombre
                </th>
                <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    Carga semanal
                </th>
                <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    Carga diaria
                </th>
                <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    Color
                </th>
                <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Acciones
                </th>
            </tr>
        </thead>
        {% if especialidades %}
            <tbody>
                {% for especialidad in especialidades %}
                    <tr>
                        <td>
                            {{ especialidad.nombre }}
                        </td>
                        <td>
                            {{ especialidad.carga_horaria_semanal }}
                        </td>
                        <td>
                            {{ especialidad.max_horas_diaria }}
                        </td>
                        <td style="background-color: {{ especialidad.color }}">
                            
                        </td>
                        <td>
                            <div class="btn btn-group btn-block">
                                <a class="btn btn-default" title="Editar" href="{% url 'calendario:especialidad_detail' especialidad.id %}#especialidad"><i class="glyphicon glyphicon-edit"></i></a>
                                <a type="button" class="btn btn-danger" data-toggle="modal" onclick="eliminar({{ especialidad.id }})">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tfoot align="center">
                <tr>
                    <td colspan="5">No hay especialidades cargadas.</td>
                </tr>
            </tfoot>
        {% endif %}
    </table>
    <nav>
        <ul class="pager">
            {% if especialidades.has_previous %}
                <li class="previous"><a href="{% url 'calendario:especialidad_all' especialidades.previous_page_number %}"><span class="glyphicon glyphicon-arrow-left"></span> Anterior</a></li>
            {% endif %}
            
            {% if especialidades.has_next %}
                <li class="next"><a href="{% url 'calendario:especialidad_all' especialidades.next_page_number %}">Siguiente <span class="glyphicon glyphicon-arrow-right"></span></a>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
