{% extends "admin/base.html" %}

{% block title %}Agregar una restricción{% endblock %}

{% block article %}
	<script>
		$(function(){
			
			$("[data-hide]").click(function(){
				$(".alert").attr('class', "alert alert-dismissable alert-danger hidden");
			});
			
			var form = $("#addForm");
			
			form.submit(function (ev){
				
				ev.preventDefault();
				
				$("#" + form.attr('id') + " button[type=submit]").button('loading');
				
				$.ajax({
					url: form.attr('action'),
					type: form.attr('method'),
					data: form.serialize(),
					success: function (response){
						
						$("#" + form.attr('id') + " button[type=submit]").button('reset');
						
						$(".form-group").attr('class', "form-group");
						
						if(response.error){
							
							if(response.campo){
								$("#"+ response.campo).parent().parent().attr('class', "form-group has-error");
								$("#"+ response.campo).focus();
							}
							
							$("#" + form.attr('id') + " .alert").attr('class', "alert alert-dismissable alert-danger");
							$("#" + form.attr('id') + " .alert p").html(response.error);
							return;
						}
						
						alert(response.mensaje);
						window.location.href = "{% url 'calendario:restriccion_all' %}";
					}
				});
			});
		});
	</script>
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-6 col-md-offset-3">
				<div class="page-header text-center">
					<h1>
						Agregar restricción<small>.</small>
					</h1>
				</div>
				<div class="alert alert-dismissable alert-danger hidden">
					<button type="button" class="close" data-hide="alert" aria-hidden="true">
						×
					</button>
					<h4>
						Error al guardar la restricción.
					</h4>
					<strong>Ojo!</strong> Un campo no es válido:
					<p id="error">
						
					</p>
				</div>
				<form class="form-horizontal" id="addForm" name="addForm" method="POST" action="{% url 'calendario:restriccion_add' %}">
					{% csrf_token %}
					<div class="form-group">
						<label class="col-xs-3 control-label" for="hora_desde">Hora desde:</label>
						<div class="col-xs-9">
							<input type="text" id="hora_desde" name="hora_desde" class="form-control" placeholder="HH:mm" value="00:00">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label" for="hora_hasta">Hora hasta:</label>
						<div class="col-xs-9">
							<input type="text" id="hora_hasta" name="hora_hasta" class="form-control" placeholder="HH:mm" value="00:00">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label" for="dia_semana">Día de la semana:</label>
						<div class="col-xs-9">
							<input type="number" id="dia_semana" name="dia_semana" class="form-control" placeholder="Día de la semana" value="0">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-10">
							<button type="submit" id="btnGuardar" data-loading-text="Guardando..." class="btn btn-primary" autocomplete="off">
								Guardar
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
