{% extends "admin/base.html" %}

{% block title %}Listado de restricciones{% endblock %}

{% block article %}
	<script>
		function eliminarRestriccion(restriccion_id){
			
			if(!confirm("¿Está seguro que desea eliminar a esta restricción?"))
				return;
			
			$.ajax({
				url: "{% url 'calendario:restriccion_delete' %}",
				type: 'POST',
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
					restriccion_id: restriccion_id
				},
				success: function(response) {
					window.location.href = "{% url 'calendario:restriccion_all' %}";
				}
			});
		}
	</script>
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-12">
				<div class="page-header">
					<h1>
						Restricciones<small>.</small>
					</h1>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>
								Hora desde
							</th>
							<th>
								Hora hasta
							</th>
							<th>
								Dia de la semana
							</th>
							<th>
								Acciones
							</th>
						</tr>
					</thead>
					{% if restricciones %}
						<tbody>
							{% for restriccion in restricciones %}
								<tr>
									<td class="vert-align">
										{{ restriccion.hora_desde }}
									</td>
									<td class="vert-align">
										{{ restriccion.hora_hasta }}
									</td>
									<td class="vert-align">
										{% if restriccion.dia_semana == 7 %}
											Todos los dias.
										{% else %}
											{{ restriccion.dia_semana }}.
										{% endif %}
									</td>
									<td class="vert-align">
										<div class="btn btn-group btn-block">
											<a class="btn btn-default" title="Editar" href="{% url 'calendario:restriccion_detail' restriccion.id %}#restriccion"><i class="glyphicon glyphicon-edit"></i></a>
											<a class="btn btn-danger" title="Eliminar" onclick="eliminarRestriccion({{ restriccion.id }})"><i class="glyphicon glyphicon-trash"></i></a>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					{% else %}
						<tfoot align="center">
							<tr>
								<td colspan="5">No hay restricciones cargadas.</td>
							</tr>
						</tfoot>
					{% endif %}
				</table>
				<div class="pagination">
					<span class="step-links">
						{% if restricciones.has_previous %}
							<a href="{% url 'calendario:restriccion_all' restricciones.previous_page_number %} ">Anterior</a>
						{% endif %}
						
						<span class="current">
							Página {{ restricciones.number }} de {{ restricciones.paginator.num_pages }}.
						</span>
						
						{% if restricciones.has_next %}
							<a href="{% url 'calendario:restriccion_all' restricciones.next_page_number %} ">Siguiente</a>
						{% endif %}
					</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
