body {
	background-color: #313131;
}

article {
	background-color: white;
    margin: auto;
    margin-top: 50px;
    width: 1000px;
    border: 3px solid;
    padding: 5px;
}

p.especialidad {
/*
	border: 1px solid grey;
*/
	cursor: move;
	padding-top: 10%;
	height: 80px;
	width: 120px;
}

div.horario-container {
	height: 80px;
	width: 120px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}
