body {
	background-color: #313131;
}

article {
	background-color: white;
	margin: auto;
	margin-top: 50px;
    min-height: 600px;
	width: 1000px;
	border: 3px solid;
	padding: 5px;
	vertical-align: middle;
}

p.especialidad {
	cursor: move;
	padding-top: 10%;
	height: 80px;
	width: 120px;
}

div.horario-container {
	height: 80px;
	width: 120px;
}

.table tbody>tr>td.vert-align{
	vertical-align: middle;
}

ul.especialidades {
	height: 400px;
	overflow-y: auto;
}

ul.calendarios {
	height: 400px;
	width: 365px;
	overflow-y: auto;
}

.tab-content {
	margin-top: 20px;
}

.panel-default > .panel-heading {
  background-color: #ddd;
  color: #000;

}
.table tbody > tr > td, .table thead > tr > th {
	border-top: none;
	border-bottom: none;
}
