{% extends "admin/base.html" %}

{% block title %}Agregar espacio nuevo.{% endblock %}

{% block head %}
    <script>
        $(function (){
            
            $("[data-hide]").click(function(){
                $(".alert-danger").attr('class', "alert alert-dismissable alert-danger hidden");
            });
            
            var form = $("#addForm");
            
            form.submit(function (ev){
                
                ev.preventDefault();
                
                form.children("button[type=submit]").button('loading');
                
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response){
                        
                        form.children("button[type=submit]").button('reset');
                        
                        $(".form-group").attr('class', "form-group");
                        
                        if(response.error){
                            
                            if(response.campo){
                                $("#"+ response.campo).parent().parent().attr('class', "form-group has-error");
                                $("#"+ response.campo).focus();
                            }
                            
                            $("#" + form.attr('id') + " .alert").attr('class', "alert alert-dismissable alert-danger");
                            $("#" + form.attr('id') + " .alert p").html(response.error);
                            return;
                        }
                        
                        var modal = $("#modal-infomacion");
                        
                        $("#modal-infomacion p").html(response.mensaje);
                        
                        modal.modal("show");
                        
                        var a = modal.children("div").children("div").children("div").children("a");
                        
                        a.attr("href", "/calendario/espacio/horarios/" + response.espacio_id);
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li><a href="{% url 'calendario:espacio_all' %}">Espacios</a></li>
        <li class="active">Agregar</li>
    </ol>
    <div class="page-header text-center">
        <h1>
            Agregar espacio<small>.</small>
        </h1>
    </div>
    <div class="modal fade" id="modal-infomacion" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="glyphicon glyphicon-info-sign"></i> Información
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary pull-right">
                        Continuar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-centered">
        <form class="form-horizontal responsive" id="addForm" name="addForm" method="POST" action="{% url 'calendario:espacio_add' %}">
            <div class="alert alert-dismissable alert-danger hidden">
                <button type="button" class="close" data-hide="alert" aria-hidden="true">
                    ×
                </button>
                <h4>
                    Error al guardar el espacio.
                </h4>
                <strong>Ojo!</strong> Un campo no es válido:
                <p>
                </p>
            </div>
            {% csrf_token %}
            <div class="form-group">
                <label class="col-xs-4 control-label" for="nombre">Nombre:</label>
                <div class="col-xs-8">
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre del espacio" autofocus>
                </div>
            </div>
            <button type="submit" id="btnGuardar" data-loading-text="Guardando..." class="btn btn-primary pull-right" autocomplete="off">
                <i class="glyphicon glyphicon-floppy-save"></i> Guardar y continuar
            </button>
        </form>
    </div>
{% endblock %}
