{% extends "admin/base.html" %}

{% block title %}Asignar profesionales a {{ espacio.nombre }}.{% endblock %}

{% block head %}
    <script>
        $(function(){
            
            $("[data-hide]").click(function(){
                $(".alert-danger").attr('class', "alert alert-dismissable alert-danger hidden");
            });
            
            $('#pAsignados').filter(function(){
                if($(this).children("li").length == 0){
                    $("#btnContinuar").prop('disabled', true);
                    $("#btnContinuar").prop('class', "btn btn-primary disabled pull-right");
                }
            });
        });
        
        function agregarProfesional(item){
            
            var texto = item.children[0].innerHTML;
            
            var pAsignados = document.getElementById('pAsignados');
            
            item.setAttribute('onclick', 'eliminarProfesional(this)');
            
            pAsignados.appendChild(item);
            
            $("#btnContinuar").prop('disabled', false);
            $("#btnContinuar").prop('class', "btn btn-primary pull-right");
        }
        
        function eliminarProfesional(item){
            
            var texto = item.children[0].innerHTML;
            
            var pDisponibles = document.getElementById('pDisponibles');
            
            item.setAttribute('onclick', 'agregarProfesional(this)');
            
            pDisponibles.appendChild(item);
            
            $('#pAsignados').filter(function(){
                if($(this).children("li").length == 0){
                    $("#btnContinuar").prop('disabled', true);
                    $("#btnContinuar").prop('class', "btn btn-primary disabled pull-right");
                }
            });
        }
        
        function guardarProfesionales(){
            
            var pAsignados = document.getElementById('pAsignados');
            
            var profesionales = []
            
            for(i = 0; i < pAsignados.children.length; i++){
                profesionales.push(pAsignados.children[i].id);
            }
            
            $.ajax({
                url: "{% url 'calendario:espacio_add_profesionales' espacio.id %}",
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    profesionales: profesionales
                },
                success: function(response) {
                    
                    if(response.error){
                        alert(response.error);
                        return;
                    }
                    
                    alert(response.mensaje);
                    
                    window.location.href = "{% url 'calendario:espacio_add_horarios' espacio.id %}";
                }
            });
        }
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'calendario:espacio_all' %}"><i class="glyphicon glyphicon-paperclip"></i> Espacios</a></li>
        <li><a href="{% url 'calendario:espacio_edit' espacio.id %}">{{ espacio.nombre }}</a></li>
        <li class="active">Asignar profesionales</li>
    </ol>
    <h2 class="text-center">
        Asignar profesionales a {{ espacio.nombre }}.
    </h2>
    <br>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Disponibles</b></h3>
                </div>
                <ul id="pDisponibles" class="list-group profesionales overflow">
                    {% for profesional in profesionales %}
                        {% if profesional not in espacio.profesionales.all %}
                            {% for especialidad in profesional.especialidades.all %}
                                {% if especialidad in espacio.especialidades.all %}
                                    <li id="{{ profesional.id }}-{{ especialidad.id }}" class="btn list-group-item" onclick="agregarProfesional(this)">
                                        <p class="text-left">
                                            {{ profesional }} ({{ especialidad }})
                                        </p>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-xs-6">
            <div class=" panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Asignados</b></h3>
                </div>
                <ul id="pAsignados" class="list-group profesionales overflow">
                    {% for coordinador in espacio.coordinadores.all %}
                        <li id="{{ coordinador.profesional.id }}-{{ coordinador.especialidad.id }}" class="btn list-group-item" onclick="eliminarProfesional(this)">
                            <p class="text-left">
                                {{ coordinador.profesional }} ({{ coordinador.especialidad }})
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <a href="{% url 'calendario:espacio_add_especialidades' espacio.id %}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i> Volver a especialidades
            </a>
            <button id="btnContinuar" class="btn btn-primary pull-right" onclick="guardarProfesionales()">
                <i class="glyphicon glyphicon-floppy-save"></i> Guardar y continuar
            </button>
        </div>
    </div>
{% endblock %}
{% block alert %}
    <div class="alert alert-info" role="alert">
        <p>
            <span class="glyphicon glyphicon-info-sign"></span>
            <strong>Nota:</strong> Para asignar un profesional
            disponible clickealo. Haz lo mismo para quitarlo.
        </p>
    </div>
{% endblock %}
