{% extends "admin/base.html" %}

{% block title %}Dias de trabajo.{% endblock %}

{% block head %}
    <script>
        $(function(){
            
            $("[data-hide]").click(function(){
                $(".alert-danger").attr('class', "alert alert-dismissable alert-danger hidden");
            });
            
            $("input[type='checkbox']").change(function() {
                if(this.checked)
                    $(this).siblings("i").prop("class", "glyphicon glyphicon-check");
                else
                    $(this).siblings("i").prop("class", "glyphicon glyphicon-unchecked");
            });
            
            var form = $("#addDiasForm");
            
            form.submit(function (ev){
                
                ev.preventDefault();
                
                $("#" + form.attr('id') + " button[type=submit]").button('loading');
                
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response){
                        
                        $("#" + form.attr('id') + " button[type=submit]").button('reset');
                        
                        $(".form-group").attr('class', "form-group");
                        
                        if(response.error){
                            
                            if(response.campo){
                                $("#"+ response.campo).parent().parent().attr('class', "form-group has-error");
                                $("#"+ response.campo).focus();
                            }
                            
                            $("#" + form.attr('id') + " .alert").attr('class', "alert alert-dismissable alert-danger");
                            $("#" + form.attr('id') + " .alert p").html(response.error);
                            return;
                        }
                        
                        alert(response.mensaje);
                        
                        window.location.href = "{% url 'calendario:espacio_add_horas' espacio.id %}";
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'calendario:espacio_all' %}"><i class="glyphicon glyphicon-paperclip"></i> Espacios</a></li>
        <li><a href="{% url 'calendario:espacio_edit' espacio.id %}">{{ espacio.nombre }}</a></li>
        <li class="active">Designar dias</li>
    </ol>
    <h2 class="text-center">
        Designar dias de trabajo a {{ espacio.nombre }}.
    </h2>
    <br>
    <div class="col-xs-12">
        <form class="form-horizontal" id="addDiasForm" method="POST" action="{% url 'calendario:espacio_add_dias' espacio.id %}">
            {% csrf_token %}
            <input type="hidden" id="espacio_id" name="espacio_id" value="{{ espacio.id }}">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="checkbox" id="dia_0" name="dia_0"> Domingo <i class="glyphicon glyphicon-unchecked"></i>
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" id="dia_1" name="dia_1"> Lunes <i class="glyphicon glyphicon-unchecked"></i>
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" id="dia_2" name="dia_2"> Martes <i class="glyphicon glyphicon-unchecked"></i>
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" id="dia_3" name="dia_3"> Miércoles <i class="glyphicon glyphicon-unchecked"></i>
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" id="dia_4" name="dia_4"> Jueves <i class="glyphicon glyphicon-unchecked"></i>
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" id="dia_5" name="dia_5"> Viernes <i class="glyphicon glyphicon-unchecked"></i>
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" id="dia_6" name="dia_6"> Sábado <i class="glyphicon glyphicon-unchecked"></i>
                </label>
            </div>
            <div class="col-xs-12">
                <a href="{% url 'calendario:espacio_add_profesionales' espacio.id %}" class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-left"></i> Volver a profesionales
                </a>
                <button type="submit" id="btnGuardar" data-loading-text="Guardando..." class="btn btn-primary pull-right" autocomplete="off">
                    <i class="glyphicon glyphicon-floppy-save"></i> Guardar y continuar
                </button>
            </div>
        </form>
    </div>
{% endblock %}
