{% extends "admin/base.html" %}

{% block title %}Horas de trabajo.{% endblock %}

{% block head %}
    <script>
        $(function(){
            
            $("[data-hide]").click(function(){
                $(".alert-danger").attr('class', "alert alert-dismissable alert-danger hidden");
            });
            
            $("input[type=checkbox]").change(function() {
                if(this.checked)
                    $(this).siblings("i").prop("class", "glyphicon glyphicon-check");
                else
                    $(this).siblings("i").prop("class", "glyphicon glyphicon-unchecked");
            });
            
            var form = $(".form");
            
            form.submit(function (ev){
                
                ev.preventDefault();
                
                $("#" + form.attr('id') + " button[type=submit]").button('loading');
                
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response){
                        
                        $("#" + form.attr('id') + " button[type=submit]").button('reset');
                        
                        $(".form-group").attr('class', "form-group");
                        
                        if(response.error){
                            
                            if(response.campo){
                                $("#"+ response.campo).parent().parent().attr('class', "form-group has-error");
                                $("#"+ response.campo).focus();
                            }
                            
                            $("#" + form.attr('id') + " .alert").attr('class', "alert alert-dismissable alert-danger");
                            $("#" + form.attr('id') + " .alert p").html(response.error);
                            return;
                        }
                        
                        alert(response.mensaje);
                    }
                });
            });
            
        });
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'calendario:espacio_all' %}"><i class="glyphicon glyphicon-paperclip"></i> Espacios</a></li>
        <li><a href="{% url 'calendario:espacio_edit' espacio.id %}">{{ espacio.nombre }}</a></li>
        <li class="active">Designar horas</li>
    </ol>
    <h2 class="text-center">
        Designar dias de trabajo a {{ espacio.nombre }}.
    </h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-2 control-label" for="modulo">Módulos de:</label>
            <div class="col-xs-4">
                <input type="text" id="modulo" name="modulo" class="form-control" placeholder="Longitud en minutos">
            </div>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr class="bg-primary">
                <th>
                </th>
                <th>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="checkbox" id="dia_0" name="dia_0"> DOM <i class="glyphicon glyphicon-unchecked"></i>
                        </label>
                    </div>
                </th>
                <th>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="checkbox" id="dia_1" name="dia_1"> LUN <i class="glyphicon glyphicon-unchecked"></i>
                        </label>
                    </div>
                </th>
                <th>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="checkbox" id="dia_2" name="dia_2"> MAR <i class="glyphicon glyphicon-unchecked"></i>
                        </label>
                    </div>
                </th>
                <th>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="checkbox" id="dia_3" name="dia_3"> MIÉ <i class="glyphicon glyphicon-unchecked"></i>
                        </label>
                    </div>
                </th>
                <th>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="checkbox" id="dia_4" name="dia_4"> JUE <i class="glyphicon glyphicon-unchecked"></i>
                        </label>
                    </div>
                </th>
                <th>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="checkbox" id="dia_5" name="dia_5"> VIE <i class="glyphicon glyphicon-unchecked"></i>
                        </label>
                    </div>
                </th>
                <th>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="checkbox" id="dia_6" name="dia_6"> SÁB <i class="glyphicon glyphicon-unchecked"></i>
                        </label>
                    </div>
                </th>
                {% for dia in dias %}
                    <th class="text-center">
                        <h4><strong>{{ dia }}</strong></h4>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in "123456"|make_list %}
                <tr>
                    <td class="text-center bg-primary">
                        <select class="form-control">
                            <option></option>
                        </select>
                    </td>
                    {% for dia in espacio.dias_habiles %}
                        <td class="text-center">
                            <div id="{{ hora }}{{ dia }}" dia="{{ dia }}" desde="{{ hora }}" horario="{{ forloop.parentloop.counter0 }}" ondrop="drop(event)" ondragover="allowDrop(event)" class="horario-container">
                                
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
