{% extends "admin/base.html" %}

{% block title %}Asignar profesionales a {{ espacio.nombre }}{% endblock %}

{% block head %}
    <script>
        $(function(){
            
            $("[data-hide]").click(function (){
                $(".alert-danger").attr('class', "alert alert-dismissable alert-danger hidden");
            });
            
            $('#pAsignados').filter(function (){
                if($(this).children("li").length == 0){
                    $("#btnContinuar").prop('disabled', true);
                    $("#btnContinuar").prop('class', "btn btn-primary disabled pull-right");
                }
            });
            
            var cantidad = 0;
            
            $("#pDisponibles li").each(function (){
                cantidad++;
                $("#cant-disponible").html(cantidad);
            });
            
            var cantidad = 0;
            
            $("#pAsignados li").each(function (){
                cantidad++;
                $("#cant-asignados").html(cantidad);
            });
            
            $("#pDisponibles").on("click", "li", agregarProfesional);
            
            $("#pAsignados").on("click", "li", eliminarProfesional);
        });
        
        function agregarProfesional(){
            
            if($("#pAsignados li").length == {{ espacio.especialidades.all|length }})
                return;
            
            var idEndsWith = $(this).prop("id").split('-')[1];
            
            var yaExiste = false;
            
            $("#pAsignados [id$='" + idEndsWith + "']").each(function (){
                $("#modal-profesional-existente").modal("show");
                yaExiste = true;
            });
            
            if(yaExiste)
                return;
            
            $(this).children("i").prop("class", "glyphicon glyphicon-chevron-left text-danger pull-right");
            
            $("#pAsignados").append(this);
            
            $("#btnContinuar").prop('disabled', false);
            $("#btnContinuar").prop('class', "btn btn-primary pull-right");
            
            $("#cant-asignados").html(parseInt($("#cant-asignados").html())+1);
            $("#cant-disponible").html(parseInt($("#cant-disponible").html())-1);
            
            $(this).off("click");
            $(this).on("click", eliminarProfesional);
        }
        
        function eliminarProfesional(){
            
            $(this).children("i").prop("class", "glyphicon glyphicon-chevron-right text-success pull-right");
            
            $("#pDisponibles").append(this);
            
            $("#cant-asignados").html(parseInt($("#cant-asignados").html())-1);
            $("#cant-disponible").html(parseInt($("#cant-disponible").html())+1);
            
            $('#pAsignados').filter(function (){
                if($(this).children("li").length == 0){
                    $("#btnContinuar").prop('disabled', true);
                    $("#btnContinuar").prop('class', "btn btn-primary disabled pull-right");
                }
            });
            
            $(this).off("click");
            $(this).on("click", agregarProfesional);
        }
        
        function guardarProfesionales(){
            
            var pAsignados = document.getElementById('pAsignados');
            
            var profesionales = []
            
            for(i = 0; i < pAsignados.children.length; i++){
                profesionales.push(pAsignados.children[i].id);
            }
            
            $.ajax({
                url: "{% url 'calendario:espacio_add_profesionales' espacio.id %}",
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    profesionales: profesionales
                },
                success: function(response) {
                    
                    if(response.error){
                        
                        var modal = $("#modal-error");
                        
                        $("#modal-error p").html(response.mensaje);
                        
                        modal.modal("show");
                        
                        return;
                    }
                    
                    var modal = $("#modal-informacion");
                    
                    $("#modal-informacion p").html(response.mensaje);
                    
                    modal.modal("show");
                }
            });
        }
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li><a href="{% url 'calendario:espacio_all' %}">Espacios</a></li>
        <li><a href="{% url 'calendario:espacio_edit' espacio.id %}">{{ espacio.nombre }}</a></li>
        <li class="active">Asignar profesionales</li>
    </ol>
    <h2 class="text-center">
        Asignar profesionales a {{ espacio.nombre }}
    </h2>
    <div class="modal fade" id="modal-profesional-existente" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-warning">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="glyphicon glyphicon-alert"></i> ¡Atención!
                    </h4>
                </div>
                <div class="modal-body">
                    Ya se encuentra asignado un profesional que ejerce
                    esta especialidad. Quítelo e intente de nuevo.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-error-existente" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="glyphicon glyphicon-alert"></i> Error
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-informacion" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="glyphicon glyphicon-info-sign"></i> Información
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'calendario:espacio_all' %}" class="btn btn-primary pull-right">
                        Continuar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span id="cant-disponible" class="pull-right"></span>
                    <h3 class="panel-title"><b>Disponibles</b></h3>
                </div>
                <ul id="pDisponibles" class="list-group profesionales overflow">
                    {% for profesional in profesionales %}
                        {% if profesional not in espacio.profesionales.all %}
                            {% for especialidad in profesional.especialidades.all %}
                                {% if especialidad in espacio.especialidades.all %}
                                    <li id="{{ profesional.id }}-{{ especialidad.id }}" class="btn list-group-item li">
                                        {{ profesional }} ({{ especialidad }})
                                        <i class="glyphicon glyphicon-chevron-right text-success pull-right"></i>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-xs-6">
            <div class=" panel panel-primary">
                <div class="panel-heading">
                    <span id="cant-asignados" class="pull-right">0</span>
                    <h3 class="panel-title"><b>Asignados</b></h3>
                </div>
                <ul id="pAsignados" class="list-group profesionales overflow">
                    {% for coordinador in espacio.coordinadores.all %}
                        <li id="{{ coordinador.profesional.id }}-{{ coordinador.especialidad.id }}" class="btn list-group-item li">
                            {{ coordinador.profesional }} ({{ coordinador.especialidad }})
                            <i class="glyphicon glyphicon-chevron-left text-danger pull-right"></i>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <a href="{% url 'calendario:espacio_add_especialidades' espacio.id %}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i> Volver a especialidades
            </a>
            <button id="btnContinuar" class="btn btn-primary pull-right" onclick="guardarProfesionales()">
                <i class="glyphicon glyphicon-floppy-save"></i> Guardar
            </button>
        </div>
    </div>
{% endblock %}
{% block alert %}
    <div class="alert alert-info" role="alert">
        <p>
            <span class="glyphicon glyphicon-info-sign"></span>
            <strong>Nota:</strong> Haz clic sobre un profesional para
            asignarlo. Lo mismo para quitarlo.
        </p>
    </div>
{% endblock %}
