{% extends "admin/base.html" %}

{% block title %}Estructura del espacio{% endblock %}

{% block head %}
    <script>
        $(function(){
            
            $("[data-hide]").click(function () {
                $(".alert-danger").attr('class', "alert alert-dismissable alert-danger hidden");
            });
            
            $("input[type=checkbox]").change(function () {
                
                var id = $(this).prop("id");
                
                var val = id.substr(id.length - 1);
                
                if(this.checked) {
                    
                    $(this).siblings("i").prop("class", "glyphicon glyphicon-check");
                    
                    $("div").each(function() {
                        if($(this).prop("id").match(new RegExp(val+"$")))
                        {
                            $(this).parent().prop("class", "text-center bg-success");
                        }
                    })
                }
                else {
                    
                    $(this).siblings("i").prop("class", "glyphicon glyphicon-unchecked");
                    
                    $("div").each(function() {
                        if($(this).prop("id").match(new RegExp(val+"$")))
                        {
                            $(this).parent().prop("class", "text-center bg-danger");
                        }
                    })
                }
            });
            
            $("select[id^=hora_desde]").change(function (){
                
                var theSelect = $(this);
                
                var modulo = $("#modulo").val();
                
                var intervalo = parseInt(theSelect.val());
                
                $("select[id^=hora_desde]").each(function (){
                    
                    var select = $(this);
                    
                    if(select.prop("id") > theSelect.prop("id")){
                        
                        intervalo += modulo / 60;
                        
                        $("#" + select.prop("id") + " option").filter(function (){
                            return $(this).text() == parseInt(intervalo);
                        }).prop('selected', true);
                    }
                });
                
                intervalo = 0;
                
                $("select[id^=min_desde]").each(function (){
                    
                    var select = $(this);
                    
                    if(splitValue(select.prop("id"), 9).split(',')[1] > splitValue(theSelect.prop("id"), 10).split(',')[1]){
                        
                        intervalo += parseInt(modulo);
                        
                        if(intervalo >= 60)
                            intervalo -= 60
                        
                        $("#" + select.prop("id") + " option").filter(function (){
                            return $(this).text() == intervalo;
                        }).prop('selected', true);
                    }
                });
            });
            
            $("select[id^=min_desde]").change(function (){
                
                var theSelect = $(this);
                
                var modulo = $("#modulo").val();
                
                var intervalo = parseInt(theSelect.val());
                
                $("select[id^=min_desde]").each(function (){
                    
                    var select = $(this);
                    
                    if(select.prop("id") > theSelect.prop("id")){
                        
                        intervalo += parseInt(modulo);
                        
                        if(intervalo >= 60)
                            intervalo -= 60
                        
                        $("#" + select.prop("id") + " option").filter(function (){
                            return $(this).text() == intervalo;
                        }).prop('selected', true);
                    }
                });
                
                var intervalo = parseInt(theSelect.val()) / 60;
                var theSelect = theSelect.prev("select");
                
                $("select[id^=hora_desde]").each(function (){
                    
                    var select = $(this);
                    
                    if(select.prop("id") > theSelect.prop("id")){
                        
                        intervalo += modulo / 60;
                        
                        $("#" + select.prop("id") + " option").filter(function (){
                            return $(this).text() == parseInt(theSelect.val()) + parseInt(intervalo);
                        }).prop('selected', true);
                    }
                });
                
            });
            
            var form = $(".form");
            
            form.submit(function (ev){
                
                ev.preventDefault();
                
                $("#" + form.attr('id') + " button[type=submit]").button('loading');
                
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response){
                        
                        $("#" + form.attr('id') + " button[type=submit]").button('reset');
                        
                        $(".form-group").attr('class', "form-group");
                        
                        if(response.error){
                            
                            if(response.campo){
                                $("#"+ response.campo).parent().parent().attr('class', "form-group has-error");
                                $("#"+ response.campo).focus();
                            }
                            
                            $("#" + form.attr('id') + " .alert").attr('class', "alert alert-dismissable alert-danger");
                            $("#" + form.attr('id') + " .alert p").html(response.error);
                            return;
                        }
                        
                        alert(response.mensaje);
                    }
                });
            });
        });
        
        function splitValue(value, index) {
            if(typeof value === 'undefined')
                return "0,0";
            
            return value.substring(0, index) + "," + value.substring(index);
        }
        
        function addHorarios() {
            
            var intId = parseInt(splitValue($("tr:last td:last div").prop("id"), 1).split(",")[1]);
            
            var id = intId;
            
            if(id != 0)
                id = parseInt(intId / 10) + 1;
            
            var hora = id;
            
            var classDomingo = ($("#dia_0").prop("checked")) ? "bg-success" : "bg-danger";
            var classLunes = ($("#dia_1").prop("checked")) ? "bg-success" : "bg-danger";
            var classMartes = ($("#dia_2").prop("checked")) ? "bg-success" : "bg-danger";
            var classMiercoles = ($("#dia_3").prop("checked")) ? "bg-success" : "bg-danger";
            var classJueves = ($("#dia_4").prop("checked")) ? "bg-success" : "bg-danger";
            var classViernes = ($("#dia_5").prop("checked")) ? "bg-success" : "bg-danger";
            var classSabado = ($("#dia_6").prop("checked")) ? "bg-success" : "bg-danger";
            
            var nuevoHorario = "<tr>" +
                                    "<td class='text-center bg-primary'>" +
                                        "<select id='hora_desde" + hora + "' name='hora_desde" + hora + "' class='form-control'>" +
                                            {% for h in horas_select %}
                                                "<option value='{{ h }}'>{{ h }}</option>" +
                                            {% endfor %}
                                        "</select>" +
                                        "<select id='min_desde" + hora + "' name='min_desde" + hora + "' class='form-control'>" +
                                            {% for m in min_select %}
                                                "<option value='{{ m }}'>{{ m }}</option>" +
                                            {% endfor %}
                                        "</select>" +
                                    "</td>" +
                                    "<td class='text-center " + classDomingo + "'>" +
                                        "<div id='h" + id+0 + "' hora='" + hora + "' ondrop='drop(event)' ondragover='allowDrop(event)'>" +
                                        "</div>" +
                                    "</td>" +
                                    "<td class='text-center " + classLunes + "'>" +
                                        "<div id='h" + id+1 + "' hora='" + hora + "' ondrop='drop(event)' ondragover='allowDrop(event)'>" +
                                        "</div>" +
                                    "</td>" +
                                    "<td class='text-center " + classMartes + "'>" +
                                        "<div id='h" + id+2 + "' hora='" + hora + "' ondrop='drop(event)' ondragover='allowDrop(event)'>" +
                                        "</div>" +
                                    "</td>" +
                                    "<td class='text-center " + classMiercoles + "'>" +
                                        "<div id='h" + id+3 + "' hora='" + hora + "' ondrop='drop(event)' ondragover='allowDrop(event)'>" +
                                        "</div>" +
                                    "</td>" +
                                    "<td class='text-center " + classJueves + "'>" +
                                        "<div id='h" + id+4 + "' hora='" + hora + "' ondrop='drop(event)' ondragover='allowDrop(event)'>" +
                                        "</div>" +
                                    "</td>" +
                                    "<td class='text-center " + classViernes + "'>" +
                                        "<div id='h" + id+5 + "' hora='" + hora + "' ondrop='drop(event)' ondragover='allowDrop(event)'>" +
                                        "</div>" +
                                    "</td>" +
                                    "<td class='text-center " + classSabado + "'>" +
                                        "<div id='h" + id+6 + "' hora='" + hora + "' ondrop='drop(event)' ondragover='allowDrop(event)'>" +
                                        "</div>" +
                                    "</td>" +
                                "</tr>";
            
            $("tbody").append(nuevoHorario);
        }
        
        function delHorarios(){
            $('table tbody tr:last').remove();
        }
        
        function guardarEstructura(){
            
            var data = {csrfmiddlewaretoken: '{{ csrf_token }}',
                        modulo: $("#modulo").val()};
            
            var i = 0;
            
            $("select[id^=hora_desde]").each(function (){
                
                data["h"+i] = $(this).val() + ":" + $(this).next("select").val();
                
                i++;
            });
            
            var i = 0;
            
            $("input[type=checkbox]").each(function () {
                
                if(this.checked){
                    
                    data["d"+i] = $(this).prop("name");
                }
                
                i++;
            });
            
            $.ajax({
                url: "{% url 'calendario:espacio_add_horarios' espacio.id %}",
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function(response) {
                    
                    if(response.error){
                        alert(response.error);
                        return;
                    }
                    
                    alert(response.mensaje);
                    
                    window.location.href = "{% url 'calendario:espacio_all' espacio.id %}";
                }
            });
        }
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'calendario:espacio_all' %}"><i class="glyphicon glyphicon-paperclip"></i> Espacios</a></li>
        <li><a href="{% url 'calendario:espacio_edit' espacio.id %}">{{ espacio.nombre }}</a></li>
        <li class="active">Designar horas</li>
    </ol>
    <h2 class="text-center">
        Estructura del espacio
    </h2>
    <div class="form-horizontal">
        <label class="col-xs-2 control-label" for="modulo">Módulos de:</label>
        <div class="col-xs-3">
            <input type="number" id="modulo" name="modulo" class="form-control" placeholder="Longitud en minutos" title="Longitud en minutos" value="40" max="60">
        </div>
    </div>
    <br>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr class="bg-primary">
                <th class="text-center">
                    <div class="btn btn-group">
                        <button onclick="addHorarios()" class="btn btn-success" title="Agregar hora"><i class="glyphicon glyphicon-plus"></i></button>
                        <button onclick="delHorarios()" class="btn btn-danger" title="Eliminar hora"><i class="glyphicon glyphicon-minus"></i></button>
                    </div>
                </th>
                <th class="text-center">
                    <div class="btn-group" data-toggle="buttons">
                        {% if '0' in dias %}
                            <label class="btn btn-primary active">
                                <input type="checkbox" id="dia_0" name="dia_0" checked> DOM <i class="glyphicon glyphicon-check"></i>
                        {% else %}
                            <label class="btn btn-primary">
                                <input type="checkbox" id="dia_0" name="dia_0"> DOM <i class="glyphicon glyphicon-unchecked"></i>
                        {% endif %}
                        </label>
                    </div>
                </th>
                <th class="text-center">
                    <div class="btn-group" data-toggle="buttons">
                        {% if '1' in dias %}
                            <label class="btn btn-primary active">
                                <input type="checkbox" id="dia_1" name="dia_1" checked> LUN <i class="glyphicon glyphicon-check"></i>
                        {% else %}
                            <label class="btn btn-primary">
                                <input type="checkbox" id="dia_1" name="dia_1"> LUN <i class="glyphicon glyphicon-unchecked"></i>
                        {% endif %}
                        </label>
                    </div>
                </th>
                <th class="text-center">
                    <div class="btn-group" data-toggle="buttons">
                        {% if '2' in dias %}
                            <label class="btn btn-primary active">
                                <input type="checkbox" id="dia_2" name="dia_2" checked> MAR <i class="glyphicon glyphicon-check"></i>
                        {% else %}
                            <label class="btn btn-primary">
                                <input type="checkbox" id="dia_2" name="dia_2"> MAR <i class="glyphicon glyphicon-unchecked"></i>
                        {% endif %}
                        </label>
                    </div>
                </th>
                <th class="text-center">
                    <div class="btn-group" data-toggle="buttons">
                        {% if '3' in dias %}
                            <label class="btn btn-primary active">
                                <input type="checkbox" id="dia_3" name="dia_3" checked> MIÉ <i class="glyphicon glyphicon-check"></i>
                        {% else %}
                            <label class="btn btn-primary">
                                <input type="checkbox" id="dia_3" name="dia_3"> MIÉ <i class="glyphicon glyphicon-unchecked"></i>
                        {% endif %}
                        </label>
                    </div>
                </th>
                <th class="text-center">
                    <div class="btn-group" data-toggle="buttons">
                        {% if '4' in dias %}
                            <label class="btn btn-primary active">
                                <input type="checkbox" id="dia_4" name="dia_4" checked> JUE <i class="glyphicon glyphicon-check"></i>
                        {% else %}
                            <label class="btn btn-primary">
                                <input type="checkbox" id="dia_4" name="dia_4"> JUE <i class="glyphicon glyphicon-unchecked"></i>
                        {% endif %}
                        </label>
                    </div>
                </th>
                <th class="text-center">
                    <div class="btn-group" data-toggle="buttons">
                        {% if '5' in dias %}
                            <label class="btn btn-primary active">
                                <input type="checkbox" id="dia_5" name="dia_5" checked> VIE <i class="glyphicon glyphicon-check"></i>
                        {% else %}
                            <label class="btn btn-primary">
                                <input type="checkbox" id="dia_5" name="dia_5"> VIE <i class="glyphicon glyphicon-unchecked"></i>
                        {% endif %}
                        </label>
                    </div>
                </th>
                <th class="text-center">
                    <div class="btn-group" data-toggle="buttons">
                        {% if '6' in dias %}
                            <label class="btn btn-primary active">
                                <input type="checkbox" id="dia_6" name="dia_6" checked> SÁB <i class="glyphicon glyphicon-check"></i>
                        {% else %}
                            <label class="btn btn-primary">
                                <input type="checkbox" id="dia_6" name="dia_6"> SÁB <i class="glyphicon glyphicon-unchecked"></i>
                        {% endif %}
                        </label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for hora in horas %}
                <tr>
                    <td class="text-center bg-primary">
                        <select id="hora_desde{{ forloop.counter0 }}" name="hora_desde{{ forloop.counter0 }}" class="form-control">
                            {% for h in horas_select %}
                                {% if h == hora.0 %}
                                    <option selected value="{{ h }}">{{ h }}</option>
                                {% else %}
                                    <option value="{{ h }}">{{ h }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select id="min_desde{{ forloop.counter0 }}" name="min_desde{{ forloop.counter0 }}" class="form-control">
                            {% for m in min_select %}
                                {% if m == hora.1 %}
                                    <option selected value="{{ m }}">{{ m }}</option>
                                {% else %}
                                    <option value="{{ m }}">{{ m }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    {% for dia in "0123456"|make_list %}
                        {% if dia in dias %}
                            <td class="text-center bg-success">
                        {% else %}
                            <td class="text-center bg-danger">
                        {% endif %}
                            <div id="h{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}" hora="{{ forloop.parentloop.counter0 }}" ondrop="drop(event)" ondragover="allowDrop(event)">
                                
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'calendario:espacio_add_profesionales' espacio.id %}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i> Volver a profesionales
    </a>
    <button id="btnContinuar" class="btn btn-primary pull-right" onclick="guardarEstructura()">
        <i class="glyphicon glyphicon-floppy-save"></i> Guardar y continuar
    </button>
{% endblock %}
