{% extends "admin/base.html" %}

{% block title %}Asignar especialidades a {{ espacio.nombre }}{% endblock %}

{% block head %}
    <script>
        $(function(){
            
            $("[data-hide]").click(function(){
                $(".alert-danger").attr('class', "alert alert-dismissable alert-danger hidden");
            });
            
            $('#eAsignadas').filter(function(){
                if($(this).children("li").length == 0){
                    $("#btnContinuar").prop('disabled', true);
                    $("#btnContinuar").prop('class', "btn btn-primary disabled pull-right");
                }
            });
        });
        
        function agregar(item){
            
            var eAsignadas = document.getElementById('eAsignadas');
            
            item.setAttribute('onclick', 'eliminar(this)');
            
            eAsignadas.appendChild(item);
            
            $("#btnContinuar").prop('disabled', false);
            $("#btnContinuar").prop('class', "btn btn-primary pull-right");
            
            $(item).children("i").prop("class", "glyphicon glyphicon-chevron-left text-danger pull-right");
        }
        
        function eliminar(item){
            
            var eDisponibles = document.getElementById('eDisponibles');
            
            item.setAttribute('onclick', 'agregar(this)');
            
            eDisponibles.appendChild(item);
            
            $('#eAsignadas').filter(function(){
                if($(this).children("li").length == 0){
                    $("#btnContinuar").prop('disabled', true);
                    $("#btnContinuar").prop('class', "btn btn-primary disabled pull-right");
                }
            });
            
            $(item).children("i").prop("class", "glyphicon glyphicon-chevron-right text-success pull-right");
        }
        
        function guardarEspecialidades(){
            
            var eAsignadas = document.getElementById('eAsignadas');
            
            var especialidades = []
            
            for(i = 0; i < eAsignadas.children.length; i++){
                especialidades.push(eAsignadas.children[i].id);
            }
            
            $.ajax({
                url: "{% url 'calendario:espacio_add_especialidades' espacio.id %}",
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    especialidades: especialidades
                },
                success: function(response) {
                    
                    if(response.error){
                        alert(response.error);
                        return;
                    }
                    
                    var modal = $("#modal-infomacion");
                    
                    $("#modal-infomacion p").html(response.mensaje);
                    
                    modal.modal("show");
                }
            });
        }
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li><a href="{% url 'calendario:espacio_all' %}">Espacios</a></li>
        <li><a href="{% url 'calendario:espacio_edit' espacio.id %}">{{ espacio.nombre }}</a></li>
        <li class="active">Asignar especialidades</li>
    </ol>
    <h2 class="text-center">
        Asignar especialidades a {{ espacio.nombre }}
    </h2>
    <div class="modal fade" id="modal-infomacion" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="glyphicon glyphicon-info-sign"></i> Información
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'calendario:espacio_add_profesionales' espacio.id %}" class="btn btn-primary pull-right">
                        Continuar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Disponibles</b></h3>
                </div>
                <ul id="eDisponibles" class="list-group especialidades overflow">
                    {% for especialidad in especialidades %}
                        {% if not especialidad in espacio.especialidades.all %}
                            <li id="{{ especialidad.id }}" class="btn list-group-item li" onclick="agregar(this)">
                                {{ especialidad }}
                                <i class="glyphicon glyphicon-chevron-right text-success pull-right"></i>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-xs-6">
            <div class=" panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Asignadas</b></h3>
                </div>
                <ul id="eAsignadas" class="list-group especialidades overflow">
                    {% for especialidad in espacio.especialidades.all %}
                        <li id="{{ especialidad.id }}" class="btn list-group-item li" onclick="eliminar(this)">
                            {{ especialidad }}
                            <i class="glyphicon glyphicon-chevron-left text-danger pull-right"></i>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <a href="{% url 'calendario:espacio_edit' espacio.id %}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i> Volver a espacio
            </a>
            <button id="btnContinuar" class="btn btn-primary pull-right" onclick="guardarEspecialidades()">
                <i class="glyphicon glyphicon-floppy-save"></i> Guardar
            </button>
        </div>
    </div>
{% endblock %}
{% block alert %}
    <div class="alert alert-info" role="alert">
        <p>
            <span class="glyphicon glyphicon-info-sign"></span>
            <strong>Nota:</strong> Haz clic sobre una especialidad para
            asignarla. Lo mismo para quitarla.
        </p>
    </div>
{% endblock %}
