{% extends "admin/base.html" %}

{% block title %}Listado de espacios{% endblock %}

{% block head %}
    {% if perms.auth.directivo or perms.auth.admin %}
    <script>
        function eliminar(espacio_id){
            
            $("#myModal").modal("show");
            
            $("#btnDel").click(function () {
                
                $.ajax({
                    url: "{% url 'calendario:espacio_delete' %}",
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        espacio_id: espacio_id
                    },
                    success: function(response) {
                        window.location.href = "{% url 'calendario:espacio_all' %}";
                    }
                });
            });
        }
    </script>
    {% endif %}
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li class="active">Espacios</li>
    </ol>
    {% if perms.auth.admin %}
        <a href="{% url 'calendario:espacio_add' %}" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i> Agregar espacio
        </a>
        <br>
        <br>
    {% endif %}
    {% if perms.auth.directivo or perms.auth.admin %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle"></i> Eliminar espacio</h4>
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea eliminar este espacio?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btnDel" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr class="default">
                <th>
                    Nombre
                </th>
                <th class="col-xs-7 col-sm-6 col-md-4 col-lg-5">
                    Acciones
                </th>
            </tr>
        </thead>
        {% if espacios %}
            <tbody>
                {% for espacio in espacios %}
                    <tr>
                        <td class="col-md-6">
                            {{ espacio.nombre }}
                        </td>
                        <td>
                            <div class="btn btn-group btn-block">
                                <a href="{% url 'calendario:espacio_detail' espacio.id %}" class="btn btn-default" title="Detalles"><i class="glyphicon glyphicon-eye-open"></i></a>
                                {% if perms.auth.directivo or perms.auth.admin %}
                                <a href="{% url 'calendario:espacio_add_horarios' espacio.id %}" class="btn btn-default" title="Días y horas"><i class="glyphicon glyphicon-time"></i></a>
                                <a href="{% url 'calendario:espacio_add_especialidades' espacio.id %}" class="btn btn-default" title="Especialidades"><i class="glyphicon glyphicon-th-list"></i></a>
                                <a href="{% url 'calendario:espacio_add_profesionales' espacio.id %}" class="btn btn-default" title="Profesionales"><i class="glyphicon glyphicon-user"></i></a>
                                {% if espacio.poblacion.0 %}
                                    {% if espacio.poblacion.0.estado == "ON" %}
                                        <a href="{% url 'calendario:espacio_detail' espacio.id %}#calendarios" class="btn btn-success" title="Calendario confirmado"><i class="glyphicon glyphicon-calendar"></i></a>
                                    {% else %}
                                        <a href="{% url 'calendario:espacio_detail' espacio.id %}#calendarios" class="btn btn-warning" title="Calendario sin confirmar"><i class="glyphicon glyphicon-calendar"></i></a>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'calendario:espacio_detail' espacio.id %}#calendarios" class="btn btn-default" title="Calendarios"><i class="glyphicon glyphicon-calendar"></i></a>
                                {% endif %}
                                <a onclick="eliminar({{ espacio.id }})" type="button" class="btn btn-danger" title="Eliminar espacio" data-toggle="modal"><i class="glyphicon glyphicon-trash"></i></a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tfoot align="center">
                <tr>
                    <td colspan="5">No hay espacios cargados.</td>
                </tr>
            </tfoot>
        {% endif %}
    </table>
    <nav>
        <ul class="pager">
            {% if espacios.has_previous %}
                <li class="previous"><a href="{% url 'calendario:espacio_all' espacios.previous_page_number %}"><span class="glyphicon glyphicon-arrow-left"></span> Anterior</a></li>
            {% endif %}
            
            {% if espacios.has_next %}
                <li class="next"><a href="{% url 'calendario:espacio_all' espacios.next_page_number %}">Siguiente <span class="glyphicon glyphicon-arrow-right"></span></a>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
