{% extends "admin/base.html" %}

{% block title %}Listado de espacios{% endblock %}

{% block head %}
    <script>
        function eliminarEspacio(espacio_id){
            
            if(!confirm("¿Está seguro que desea eliminar a este espacio?"))
                return;
            
            $.ajax({
                url: "{% url 'calendario:espacio_delete' %}",
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    espacio_id: espacio_id
                },
                success: function(response) {
                    window.location.href = "{% url 'calendario:espacio_all' %}";
                }
            });
        }
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li class="active">Espacios</li>
    </ol>
    <a href="{% url 'calendario:espacio_add' %}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> Agregar espacio
    </a>
    <br>
    <br>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr class="default">
                <th>
                    Nombre
                </th>
                <th class="col-xs-7 col-sm-6 col-md-4 col-lg-5">
                    Acciones
                </th>
            </tr>
        </thead>
        {% if espacios %}
            <tbody>
                {% for espacio in espacios %}
                    <tr>
                        <td class="col-md-6">
                            {{ espacio.nombre }}
                        </td>
                        <td>
                            <div class="btn btn-group btn-block">
                                <a class="btn btn-default" title="Editar" href="{% url 'calendario:espacio_edit' espacio.id %}"><i class="glyphicon glyphicon-edit"></i></a>
                                <a class="btn btn-default" title="Especialidades" href="{% url 'calendario:espacio_add_especialidades' espacio.id %}"><i class="glyphicon glyphicon-th-list"></i></a>
                                <a class="btn btn-default" title="Profesionales" href="{% url 'calendario:espacio_add_profesionales' espacio.id %}"><i class="glyphicon glyphicon-user"></i></a>
                                <a class="btn btn-default" title="Calendarios" href="{% url 'calendario:espacio_add_horarios' espacio.id %}"><i class="glyphicon glyphicon-time"></i></a>
                                <a class="btn btn-default" title="Calendarios" href="{% url 'calendario:espacio_detail' espacio.id %}#calendarios"><i class="glyphicon glyphicon-calendar"></i></a>
                                <a class="btn btn-danger" title="Eliminar" onclick="eliminarEspacio({{ espacio.id }})"><i class="glyphicon glyphicon-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tfoot align="center">
                <tr>
                    <td colspan="5">No hay espacios cargados.</td>
                </tr>
            </tfoot>
        {% endif %}
    </table>
    <nav>
        <ul class="pager">
            {% if espacios.has_previous %}
                <li class="previous"><a href="{% url 'calendario:espacio_all' espacios.previous_page_number %}"><span class="glyphicon glyphicon-arrow-left"></span> Anterior</a></li>
            {% endif %}
            
            {% if espacios.has_next %}
                <li class="next"><a href="{% url 'calendario:espacio_all' espacios.next_page_number %}">Siguiente <span class="glyphicon glyphicon-arrow-right"></span></a>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
