{% extends "admin/base.html" %}

{% block title %}Detalles del espacio {{ espacio }}.{% endblock %}

{% block head %}
    <script>
        $(function (){
            
            var url = document.location.toString();
            
            if(url.match('#')) {
                $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
            } 
            
            $('.nav-tabs a').on('shown.bs.tab', function (e){
                window.location.hash = e.target.hash;
                window.scrollTo(0, 0);
            });
            
            $("[data-hide]").click(function(){
                $(".alert-danger").attr('class', "alert alert-dismissable alert-danger hidden");
            });
            
            {% if estado.0 == "GENERANDO" %}
                var tid = setInterval(checkStatus, 20000);
            {% endif %}
            
            var form = $("#editForm");
            
            form.submit(function (ev){
                
                ev.preventDefault();
                
                form.children("button[type=submit]").button('loading');
                
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response){
                        
                        form.children("button[type=submit]").button('reset');
                        
                        $(".form-group").attr('class', "form-group");
                        
                        if(response.error){
                            
                            if(response.campo){
                                $("#"+ response.campo).parent().attr('class', "form-group has-error");
                                $("#"+ response.campo).focus();
                            }
                            
                            $("#" + form.attr('id') + " .alert").attr('class', "alert alert-dismissable alert-danger");
                            $("#" + form.attr('id') + " .alert p").html(response.error);
                            return;
                        }
                        
                        var modal = $("#modal-infomacion");
                        
                        $("#modal-infomacion p").html(response.mensaje);
                        
                        modal.modal("show");
                    }
                });
            });
            
            var formGenerar = $("#formGenerar");
            
            formGenerar.submit(function (ev){
                
                ev.preventDefault();
                
                formGenerar.children("button[type=submit]").button('loading');
                
                $("#progress-bar").parent().prop("class", "progress");
                
                var tid = setInterval(checkStatus, 20000);
                
                $.ajax({
                    url: formGenerar.attr('action'),
                    type: formGenerar.attr('method'),
                    data: formGenerar.serialize(),
                    success: function (response){
                        
                    },
                    error: function (response){
                        location.reload();
                    }
                });
            });
        });
        {% if calendario %}
        function eliminarCalendario(calendario_id){
            
            if(!confirm("¿Está seguro que desea eliminar el calendario?"))
                return;
            
            $.ajax({
                url: "{% url 'calendario:delete' %}",
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    calendario_id: calendario_id
                },
                success: function (response){
                    
                    if(response.error){
                        
                        var modal = $("#modal-error");
                        
                        $("#modal-error p").html(response.mensaje);
                        
                        modal.modal("show");
                        
                        return;
                    }
                    
                    var modal = $("#modal-infomacion");
                    
                    $("#modal-infomacion p").html(response.mensaje);
                    
                    modal.modal("show");
                }
            });
        }
        
        function confirmarCalendario(calendario_id){
            
            if(!confirm("¿Está seguro que desea confirmar el calendario?"))
                return;
            
            $.ajax({
                url: "{% url 'calendario:confirmar' %}",
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    calendario_id: calendario_id
                },
                success: function (response){
                    
                    if(response.error){
                        
                        var modal = $("#modal-error");
                        
                        $("#modal-error p").html(response.mensaje);
                        
                        modal.modal("show");
                        
                        return;
                    }
                    
                    var modal = $("#modal-infomacion");
                    
                    $("#modal-infomacion p").html(response.mensaje);
                    
                    modal.modal("show");
                }
            });
        }
        {% endif %}
        function checkStatus() {
           
            $.ajax({
                url: "{% url 'calendario:status' espacio.id %}",
                type: 'GET',
                success: function(response) {
                    
                    if(response.status == false)
                        location.reload();
                    
                    $("#progress-bar").width(response.progress + "%");
                    
                    $("#progress-bar b").html(response.progress + "% Completo");
                }
            }); 
        }
        
        function abortTimer() {
            clearInterval(tid);
        }
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li><a href="{% url 'calendario:espacio_all' %}">Espacios</a></li>
        <li class="active">{{ espacio.nombre }}</li>
    </ol>
    <h3 class="text-center">
        Detalles del espacio {{ espacio }}.
    </h3>
    <div class="modal fade" id="modal-infomacion" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="glyphicon glyphicon-info-sign"></i> Información
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'calendario:espacio_detail' espacio.id %}" class="btn btn-primary pull-right" data-dismiss="modal">
                        Aceptar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-error" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="glyphicon glyphicon-info-sign"></i> Error
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger pull-right" data-dismiss="modal">
                        Aceptar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tabbable" id="tabs-776256">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#this" data-toggle="tab"><i class="glyphicon glyphicon-paperclip"> Espacio</i></a>
            </li>
            <li>
                <a href="#especialidades" data-toggle="tab"><i class="glyphicon glyphicon-th-list"> Especialidades</i></a>
            </li>
            <li>
                <a href="#profesionales" data-toggle="tab"><i class="glyphicon glyphicon-user"> Profesionales</i></a>
            </li>
            <li>
                <a href="#calendarios" data-toggle="tab"><i class="glyphicon glyphicon-calendar"> Calendarios</i></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="this">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <table class="table table-bordered overflow">
                        <thead>
                            <tr class="bg-primary">
                                <th>Profesional</th>
                                <th>Especialidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for coordinador in espacio.coordinadores %}
                                <tr style="background-color: {{ coordinador.especialidad.color }}">
                                    <td>
                                        {{ coordinador.profesional }}
                                    </td>
                                    <td>
                                        {{ coordinador.especialidad }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <form class="form-inline" id="editForm" method="POST" action="{% url 'calendario:espacio_edit' espacio.id %}">
                        <div class="alert alert-dismissable alert-danger hidden">
                            <button type="button" class="close" data-hide="alert" aria-hidden="true">
                                ×
                            </button>
                            <h4>
                                Error al guardar el espacio.
                            </h4>
                            <strong>Ojo!</strong> Un campo no es válido:
                            <p>
                            </p>
                        </div>
                        {% csrf_token %}
                        <input id="espacio_id" name="espacio_id" type="hidden" value="{{ espacio.id }}">
                        <div class="form-group">
                            <label class="control-label" for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" value="{{ espacio.nombre }}">
                        </div>
                        <button type="submit" id="btnGuardar" data-loading-text="Guardando..." class="btn btn-primary pull-right" autocomplete="off">
                            <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                        </button>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="especialidades">
                <div class="col-xs-12">
                    <p>
                        <a href="{% url 'calendario:espacio_add_especialidades' espacio.id %}" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Editar las especialidades asignadas a este espacio</a>
                    </p>
                </div>
                {% for coordinador in espacio.coordinadores %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="color: white; background-color: {{ coordinador.especialidad.color }}">
                            <strong>{{ coordinador.especialidad }}</strong>
                        </div>
                        <div class="panel-body">
                            <br>
                            <br>
                            <a href="{% url 'calendario:especialidad_detail' coordinador.especialidad.id %}" class="btn pull-right" style="background-color: {{ coordinador.especialidad.color }}">
                                <strong style="color: white"><i class="fa fa-fw fa-pencil"></i> Editar</strong>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="tab-pane" id="profesionales">
                <div class="col-xs-12">
                    <p>
                        <a href="{% url 'calendario:espacio_add_profesionales' espacio.id %}" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Editar los profesionales asignados a este espacio</a>
                    </p>
                </div>
                {% for coordinador in espacio.coordinadores %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <strong>{{ coordinador.profesional }}</strong>
                        </div>
                        <div class="panel-body">
                            
                            <br>
                            <br>
                            <a href="{% url 'calendario:profesional_detail' coordinador.profesional.id %}" class="btn btn-info pull-right">
                                <strong><i class="fa fa-fw fa-pencil"></i> Editar</strong>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="tab-pane" id="calendarios">
                {% if estado.0 == "GENERANDO" %}
                <div class="progress">
                {% else %}
                <div class="progress hidden">
                {% endif %}
                    <div id="progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ estado.1 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ estado.1 }}%">
                        <b>{{ estado.1 }}% Completo</b>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                {% if calendario %}
                    <div class="btn btn-group">
                        <a href="{% url 'calendario:detail' calendario.id %}" class="btn btn-default" title="Ver este calendario"><i class="glyphicon glyphicon-eye-open"></i> Ver</a>
                        <a href="{% url 'calendario:edit' calendario.id %}" class="btn btn-default" title="Editar este calendario"><i class="glyphicon glyphicon-edit"></i> Editar</a>
                        <a onclick="confirmarCalendario({{ calendario.id }})" class="btn btn-default" title="Confirmar este calendario"><i class="glyphicon glyphicon-ok"></i> Confirmar</a>
                        <a href="{% url 'calendario:imprimir' calendario.id %}" class="btn btn-default" title="PDF de este calendario" target="_blank"><i class="fa fa-file-pdf-o"></i> PDF</a>
                        <a onclick="eliminarCalendario({{ calendario.id }})" class="btn btn-danger" title="Eliminar este calendario"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                    </div>
                    <table class="table calendario">
                        <thead>
                            <tr class="bg-primary">
                                <th class="text-center">
                                </th>
                                {% for dia in dias %}
                                    <th class="text-center">
                                        <h4><strong>{{ dia }}</strong></h4>
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for franja_horaria in calendario.horarios %}
                            <tr>
                                <td class="text-center bg-primary">
                                    <h4>
                                        <strong>{{ franja_horaria.1.hora_desde }}</strong>
                                    </h4>
                                </td>
                            {% for horario in franja_horaria %}
                                {% if horario.penalizado > 0 %}
                                <td penalizado="{{ horario.penalizado }}">
                                {% else %}
                                <td penalizado="{{ horario.penalizado }}" style="background-color: {{ horario.coordinador.especialidad.color }}">
                                {% endif %}
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                {% else %}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-centered">
                {% endif %}
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <strong><i class="fa fa-fw fa-calendar"></i> Generar calendarios</strong>
                        </div>
                        <div class="panel-body">
                        {% if calendario %}
                            <div class="alert alert-info" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Atención:</span>
                                Se borrará el calendario ya creado.
                            </div>
                        {% endif %}
                            <form class="form-horizontal" id="formGenerar" name="formGenerar" method="POST" action="{% url 'calendario:generar' %}">
                                {% csrf_token %}
                                <input type="hidden" id="espacio_id" name="espacio_id" value="{{ espacio.id }}">
                                <div class="form-group">
                                    <table class="col-xs-offset-6 col-xs-6">
                                        <tr>
                                            <td width="33%">Baja</td>
                                            <td width="42%">Normal</td>
                                            <td>Alta</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-6 control-label" for="generaciones">Nivel de precisión:</label>
                                    <div class="input-group col-xs-5">
                                        <input type="range" id="generaciones" name="generaciones" min="1" max="3" value="2">
                                    </div>
                                </div>
                                {% if espacio.estado == 3 %}
                                    <button id="btnGenerar" class="btn btn-success pull-right disabled" disabled>
                                        <i class="fa fa-spinner"></i> Generando...
                                    </button>
                                {% elif espacio.estado == 2 %}
                                    <button id="btnGenerar" type="submit" class="btn btn-success pull-right" data-loading-text="Generando..." disabled>
                                        <i class="fa fa-spinner"></i> Generar
                                    </button>
                                {% else %}
                                    <button id="btnGenerar" type="submit" class="btn btn-success pull-right" data-loading-text="Generando...">
                                        <i class="fa fa-spinner"></i> Generar
                                    </button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block alert %}
{% endblock %}
