{% extends "admin/base.html" %}

{% block title %}Detalles del espacio {{ espacio }}.{% endblock %}

{% block article %}
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-12">
				<h3 class="text-center">
					Detalles del espacio {{ espacio }}.
				</h3>
				<dl>
					<dt>
						Attr: <span>{{ espacio }}</span>
					</dt>
				</dl>
				<form method="POST" action="{% url 'calendario:generar' %}">
					{% csrf_token %}
					<input type="hidden" id="espacio_id" name="espacio_id" value="{{ espacio.id }}">
					<button type="submit">
						Generar
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
