{% extends "admin/base.html" %}

{% block title %}Detalles del espacio {{ espacio }}.{% endblock %}

{% block article %}
	<script>
		$(function (){
			var url = document.location.toString();
			if(url.match('#')) {
				$('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
			} 
			
			$('.nav-tabs a').on('shown.bs.tab', function (e){
				window.location.hash = e.target.hash;
				window.scrollTo(0, 0);
			});
			
			var form = $("#editForm");
			
			form.submit(function (ev){
				
				ev.preventDefault();
				
				$("#" + form.attr('id') + " button[type=submit]").button('loading');
				
				$.ajax({
					url: form.attr('action'),
					type: form.attr('method'),
					data: form.serialize(),
					success: function (response){
						
						$("#" + form.attr('id') + " button[type=submit]").button('reset');
						
						$(".form-group").attr('class', "form-group");
						
						if(response.error){
							
							if(response.campo){
								$("#"+ response.campo).parent().parent().attr('class', "form-group has-error");
								$("#"+ response.campo).focus();
							}
							
							$("#" + form.attr('id') + " .alert").attr('class', "alert alert-dismissable alert-danger");
							$("#" + form.attr('id') + " .alert p").html(response.error);
							return;
						}
						
						alert(response.mensaje);
					}
				});
			});
			
			var formHora = $("#addHoraForm");
			
			formHora.submit(function (ev){
				
				ev.preventDefault();
				
				$("#" + formHora.attr('id') + " button[type=submit]").button('loading');
				
				$.ajax({
					url: formHora.attr('action'),
					type: formHora.attr('method'),
					data: formHora.serialize(),
					success: function (response){
						
						$("#" + formHora.attr('id') + " button[type=submit]").button('reset');
						
						$(".form-group").attr('class', "form-group");
						
						if(response.error){
							
							if(response.campo){
								$("#"+ response.campo).parent().parent().attr('class', "form-group has-error");
								$("#"+ response.campo).focus();
							}
							
							$("#" + formHora.attr('id') + " .alert").attr('class', "alert alert-dismissable alert-danger");
							$("#" + formHora.attr('id') + " .alert p").html(response.error);
							return;
						}
						
						alert(response.mensaje);
					}
				});
			});
		});
		
		function onValChange(object){
			object.value = 10 > object.value ? "0" + object.value : object.value;
		}
		
		function agregar(item){
			var texto = item.children[0].innerHTML;
			
			var eAsignadas = document.getElementById('eAsignadas');
			
			item.setAttribute('onclick', 'eliminar(this)');
			
			eAsignadas.appendChild(item);
		}
		
		function eliminar(item){
			var texto = item.children[0].innerHTML;
			
			var eDisponibles = document.getElementById('eDisponibles');
			
			item.setAttribute('onclick', 'agregar(this)');
			
			eDisponibles.appendChild(item);
		}
		
		function agregarProfesional(item){
			var texto = item.children[0].innerHTML;
			
			var pAsignados = document.getElementById('pAsignados');
			
			item.setAttribute('onclick', 'eliminarProfesional(this)');
			
			pAsignados.appendChild(item);
		}
		
		function eliminarProfesional(item){
			var texto = item.children[0].innerHTML;
			
			var pDisponibles = document.getElementById('pDisponibles');
			
			item.setAttribute('onclick', 'agregarProfesional(this)');
			
			pDisponibles.appendChild(item);
		}
		
		function guardarEspecialidades(){
			
			var eAsignadas = document.getElementById('eAsignadas');
			
			var especialidades = []
			
			for(i = 0; i < eAsignadas.children.length; i++){
				especialidades.push(eAsignadas.children[i].id);
			}
			
			$.ajax({
				url: "{% url 'calendario:espacio_add_especialidades' %}",
				type: 'POST',
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
					espacio_id: {{ espacio.id }},
					especialidades: especialidades
				},
				success: function(response) {
					
					if(response.error){
						alert(response.error);
						return;
					}
					
					alert(response.mensaje);
				}
			});
			
		}
		
		function guardarProfesionales(){
			
			var pAsignados = document.getElementById('pAsignados');
			
			var profesionales = []
			
			for(i = 0; i < pAsignados.children.length; i++){
				profesionales.push(pAsignados.children[i].id);
			}
			
			$.ajax({
				url: "{% url 'calendario:espacio_add_profesionales' %}",
				type: 'POST',
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
					espacio_id: {{ espacio.id }},
					profesionales: profesionales
				},
				success: function(response) {
					
					if(response.error){
						alert(response.error);
						return;
					}
					
					alert(response.mensaje);
				}
			});
			
		}
		
		function verCalendario(calendario){
			window.location.href = calendario;
		}
		
	</script>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center">
					Detalles del espacio {{ espacio }}.
				</h3>
				<div class="tabbable" id="tabs-776256">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#espacio" data-toggle="tab">Espacio</a>
						</li>
						<li>
							<a href="#especialidades" data-toggle="tab">Especialidades</a>
						</li>
						<li>
							<a href="#profesionales" data-toggle="tab">Profesionales</a>
						</li>
						<li>
							<a href="#horas" data-toggle="tab">Horas</a>
						</li>
						<li>
							<a href="#calendarios" data-toggle="tab">Calendarios</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="espacio">
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title"><b>Especialidades</b></h3>
									</div>
									<ul class="list-group especialidades overflow">
										{% for especialidad in espacio.especialidades.all %}
											<li id="{{ especialidad.id }}" class="list-group-item">
												<p class="text-left">
													{{ especialidad }}
												</p>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								{% if error_message %}
									<div class="alert alert-danger">
										<a href="#" class="close" data-dismiss="alert">&times;</a>
										<h3 class="text-center text-danger"><b>Ocurrió el siguiente error:</b></h3>
										<p class="text-danger">
											<b>{{ error_message }}</b>
										</p>
									</div>
								{% endif %}
								<form class="form-inline" id="editForm" method="POST" action="{% url 'calendario:espacio_edit' %}">
									{% csrf_token %}
									<input id="espacio_id" name="espacio_id" type="hidden" value="{{ espacio.id }}">
									<div class="form-group">
										<label class="control-label" for="nombre">Nombre del espacio:</label>
										<input type="text" id="nombre" name="nombre" class="form-control" value="{{ espacio.nombre }}">
									</div>
									<button type="submit" id="btnGuardar" data-loading-text="Guardando..." class="btn btn-primary pull-right" autocomplete="off">
										Guardar
									</button>
								</form>
							</div>
						</div>
						<div class="tab-pane" id="especialidades">
							<div class="alert alert-info" role="alert">
								<p><span class="glyphicon glyphicon-info-sign"></span> Para asignar una especialidad hazle clic. Lo mismo para quitarla.</p>
							</div>
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-5 col-md-offset-1">
										<div class="panel panel-primary">
											<div class="panel-heading">
												<h3 class="panel-title"><b>Disponibles</b></h3>
											</div>
											<ul id="eDisponibles" class="list-group especialidades overflow">
												{% for especialidad in especialidades %}
													{% if not especialidad in espacio.especialidades.all %}
														<li id="{{ especialidad.id }}" class="btn list-group-item" onclick="agregar(this)">
															<p class="text-left">
																{{ especialidad }}
															</p>
														</li>
													{% endif %}
												{% endfor %}
											</ul>
										</div>
									</div>
									<div class="col-md-5">
										<div class=" panel panel-primary">
											<div class="panel-heading">
												<h3 class="panel-title"><b>Asignadas</b></h3>
											</div>
											<ul id="eAsignadas" class="list-group especialidades overflow">
												{% for especialidad in espacio.especialidades.all %}
													<li id="{{ especialidad.id }}" class="btn list-group-item" onclick="eliminar(this)">
														<p class="text-left">
															{{ especialidad }}
														</p>
													</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
							<button class="btn btn-primary col-md-offset-10" onclick="guardarEspecialidades()">
								Guardar cambios
							</button>
						</div>
						<div class="tab-pane" id="profesionales">
							<div class="alert alert-info" role="alert">
								<p><span class="glyphicon glyphicon-info-sign"></span> Para asignar un profesional hazle clic. Lo mismo para quitarlo.</p>
							</div>
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-5 col-md-offset-1">
										<div class="panel panel-primary">
											<div class="panel-heading">
												<h3 class="panel-title"><b>Disponibles</b></h3>
											</div>
											<ul id="pDisponibles" class="list-group profesionales overflow">
												{% for profesional in profesionales %}
													{% if not profesional in espacio.profesionales.all %}
														<li id="{{ profesional.id }}" class="btn list-group-item" onclick="agregarProfesional(this)">
															<p class="text-left">
																{{ profesional }}
															</p>
														</li>
													{% endif %}
												{% endfor %}
											</ul>
										</div>
									</div>
									<div class="col-md-5">
										<div class=" panel panel-primary">
											<div class="panel-heading">
												<h3 class="panel-title"><b>Asignados</b></h3>
											</div>
											<ul id="pAsignados" class="list-group profesionales overflow">
												{% for profesional in espacio.profesionales.all %}
													<li id="{{ profesional.id }}" class="btn list-group-item" onclick="eliminarProfesional(this)">
														<p class="text-left">
															{{ profesional }}
														</p>
													</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
							<button class="btn btn-primary col-md-offset-10" onclick="guardarProfesionales()">
								Guardar cambios
							</button>
						</div>
						<div class="tab-pane" id="horas">
							<div class="col-md-8 col-md-offset-2">
								{% if error_message %}
									<div class="alert alert-danger">
										<a href="#" class="close" data-dismiss="alert">&times;</a>
										<h3 class="text-center text-danger"><b>Ocurrió el siguiente error:</b></h3>
										<p class="text-danger">
											<b>{{ error_message }}</b>
										</p>
									</div>
								{% endif %}
								<form class="form-horizontal col-md-offset-3" id="addHoraForm" method="POST" action="{% url 'calendario:espacio_add_hora' %}">
									{% csrf_token %}
									<input type="hidden" id="espacio_id" name="espacio_id" value="{{ espacio.id }}">
									<div class="form-group">
										<div class="row">
											<label class="col-xs-3 control-label" for="desde">Hora desde:</label>
											<div class="col-xs-2">
												<input id="hora_desde" name="hora_desde" type="number" class="form-control" min="00" max="23" value="00" onchange="onValChange(this)">
											</div>
											<div class="col-xs-2">
												<input id="min_desde" name="min_desde" type="number" class="form-control" min="00" max="59" value="00" onchange="onValChange(this)">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<label class="col-xs-3 control-label" for="hasta">Hora hasta:</label>
											<div class="col-xs-2">
												<input id="hora_hasta" name="hora_hasta" type="number" class="form-control" min="00" max="23" value="00" onchange="onValChange(this)">
											</div>
											<div class="col-xs-2">
												<input id="min_hasta" name="min_hasta" type="number" class="form-control" min="00" max="59" value="00" onchange="onValChange(this)">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-offset-10">
											<button type="submit" id="btnHoraGuardar" data-loading-text="Guardando..." class="btn btn-primary pull-right" autocomplete="off">
												Agregar
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane" id="calendarios">
							<div class="col-md-5">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title"><b>Calendarios</b></h3>
									</div>
									<ul id="ulCalendarios" class="list-group calendarios overflow">
										{% for calendario in espacio.calendarios %}
											<li id="{{ calendario.id }}" class="btn list-group-item" onclick="verCalendario('{% url 'calendario:detail' calendario.id %}')">
												<p class="text-left">
													{{ calendario.id }}
												</p>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							{% for hora in espacio.horas %}
								<dl>
									<dt>
										Hora: <span>De {{ hora.hora_desde }} a {{ hora.hora_hasta }}.</span>
									</dt>
								</dl>
							{% endfor %}
							<form class="form-horizontal col-md-offset-3" method="POST" action="{% url 'calendario:generar' %}">
								{% csrf_token %}
								<input type="hidden" id="espacio_id" name="espacio_id" value="{{ espacio.id }}">
								<div class="form-group">
									<div class="col-md-offset-10">
										<button type="submit" class="btn btn-success">
											Generar
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
