{% extends "admin/base.html" %}

{% block title %}Agregar un espacio{% endblock %}

{% block article %}
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-8 col-md-offset-2">
				{% if error_message %}
					<div class="alert alert-danger">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						<h3 class="text-center text-danger"><b>Ocurrió el siguiente error:</b></h3>
						<p class="text-danger">
							<b>{{ error_message }}</b>
						</p>
					</div>
				{% endif %}
				<h3 class="text-center">
					Horas para "{{ entorno.espacio }}"
				</h3>
				<form class="form-horizontal" method="POST" action="{% url 'calendario:espacio_add_hora' %}">
					<fieldset>
						{% csrf_token %}
						<div class="form-group">
							<label class="col-xs-3 control-label" for="desde">Hora desde:</label>
							<div class="col-xs-3">
								<input id="hora_desde" name="hora_desde" type="number" class="form-control" value="00">
								<input id="min_desde" name="min_desde" type="number" class="form-control" value="00">
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="hasta">Hora hasta:</label>
							<div class="col-xs-3">
								<input id="hora_desde" type="number" class="form-control" value="00">
								<input id="min_desde" type="number" class="form-control" value="00">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-10">
								<button type="submit" class="btn btn-primary">
									Agregar
								</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
