{% extends "admin/base.html" %}

{% load static %}

{% block title %}Listado de usuarios{% endblock %}

{% block head %}
    <script>
        function desactivar(user_id){
            
            $("#myModal").modal("show");
            
            $("#myModal .modal-title b").remove();
            $("#myModal .modal-title").append("<b> Desactivar usuario</b>");
            
            $("#myModal .modal-body").empty();
            $("#myModal .modal-body").append("¿Está seguro que desea desactivar este usuario?");
            
            $("#btnDel").click(function () {
                
                $.ajax({
                    url: "{% url 'perfil:user_diactivate' %}",
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        user_id: user_id
                    },
                    success: function(response) {
                        window.location.href = "{% url 'perfil:user_all' %}";
                    }
                });
            });
        }
        
        function activar(user_id){
            
            $("#myModal").modal("show");
            
            $("#myModal .modal-title b").remove();
            $("#myModal .modal-title").append("<b> Activar usuario</b>");
            
            $("#myModal .modal-body").empty();
            $("#myModal .modal-body").append("¿Está seguro que desea activar este usuario?");
            
            $("#btnDel").click(function () {
                
                $.ajax({
                    url: "{% url 'perfil:user_activate' %}",
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        user_id: user_id
                    },
                    success: function(response) {
                        window.location.href = "{% url 'perfil:user_all' %}";
                    }
                });
            });
        }
    </script>
{% endblock %}
{% block article %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><i class="fa fa-fw fa-calendar"></i> Inicio</a></li>
        <li class="active">Usuarios</li>
    </ol>
    <a href="{% url 'perfil:user_add' %}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> Agregar usuario
    </a>
    <br>
    <br>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-warning">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle"></i></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btnDel" type="button" class="btn btn-warning">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr class="default">
                <th>
                    Usuario
                </th>
                <th>
                    Apellido, Nombre
                </th>
                <th>
                    Rol
                </th>
                <th>
                    Estado
                </th>
                <th class="col-xs-5 col-sm-5 col-md-4 col-lg-3">
                    Acciones
                </th>
            </tr>
        </thead>
        {% if usuarios %}
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>
                            {{ usuario.user.username }}
                        </td>
                        <td>
                            {{ usuario.persona }}
                        </td>
                        <td>
                            {{ usuario.user.groups.all.0 }}
                        </td>
                        <td class="text-center">
                            {% if usuario.user.is_active %}
                                <i class="glyphicon glyphicon-ok text-success"></i>
                            {% else %}
                                <i class="glyphicon glyphicon-remove text-danger"></i>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn btn-group btn-block">
                                <a class="btn btn-default" title="Editar" href="{% url 'perfil:user_detail' usuario.id %}">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                {% if not usuario.user.is_active %}
                                    <a type="button" class="btn btn-primary" data-toggle="modal" title="Activar" onclick="activar({{ usuario.id }})">
                                        <i class="fa fa-user-plus"></i>
                                {% else %}
                                    <a type="button" class="btn btn-primary" data-toggle="modal" title="Desactivar" onclick="desactivar({{ usuario.id }})">
                                        <i class="fa fa-user-times"></i>
                                {% endif %}
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tfoot align="center">
                <tr>
                    <td colspan="5">No hay usuarios cargados.</td>
                </tr>
            </tfoot>
        {% endif %}
    </table>
    <nav>
        <ul class="pager">
            {% if usuarios.has_previous %}
                <li class="previous"><a href="{% url 'perfil:user_all' usuarios.previous_page_number %}"><span class="glyphicon glyphicon-arrow-left"></span> Anterior</a></li>
            {% endif %}
            
            {% if usuarios.has_next %}
                <li class="next"><a href="{% url 'perfil:user_all' usuarios.next_page_number %}">Siguiente <span class="glyphicon glyphicon-arrow-right"></span></a>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
